<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:filter="http://thymeleafexamples"
      layout:decorate="templates/backend-user">
<!--/*@thymesVar id="result" type="OnlineMarket.result.ResultObject<OnlineMarket.model.Notification>"*/-->
<!--/*@thymesVar id="breadcrumbs" type="java.lang.String[]"*/-->
<!--/*@thymesVar id="pageTitle" type="java.lang.String"*/-->
<!--/*@thymesVar id="relativePath" type="java.lang.String"*/-->
<!--/*@thymesVar id="success" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="error" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="filterForm" type="OnlineMarket.form.filter.FilterForm"*/-->
<head>
</head>
<body>

<div ui-view class="app-body" id="view" layout:fragment="container">
    <div class="padding">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" th:each="breadcrumb : ${breadcrumbs}"><a th:href="@{${breadcrumb[0]}}" th:text="${breadcrumb[1]}"></a></li>
        </ol>
        <div class="box">
            <div class="box-header">
                <h2 th:text="${pageTitle}"></h2>
            </div>
            <div class="alert alert-success m-x-lg" th:if="${success} != null">
                <strong>Congratulation!</strong> Process completed.
            </div>
            <div class="alert alert-danger m-x-lg" th:if="${error} != null">
                <strong>Obbs!</strong> [[${error}]]
            </div>
            <div class="row p-a">
                <div class="col-sm-5">
                </div>
                <div class="col-sm-4">
                </div>
                <div class="col-sm-3">
                    <form th:object="${filterForm}" th:action="@{${relativePath}}" method="POST">
                        <div class="input-group">
                            <select class="form-control" name="groupSearch['status']">
                                <option>Status...</option>
                                <option th:value="${T(OnlineMarket.util.other.NotificationStatus).SEEN.id}">Seen</option>
                                <option th:value="${T(OnlineMarket.util.other.NotificationStatus).UNREAD.id}">Unread</option>
                            </select>
                            <span class="input-group-btn">
                            <button class="btn b-a white" type="submit">Go!</button>
                          </span>
                        </div>
                        <input type="hidden" th:field="*{search}"/>
                        <input type="hidden" th:field="*{searchBy}"/>
                        <input type="hidden" th:field="*{size}" />
                        <input type="hidden" th:field="*{order}" />
                        <input type="hidden" th:field="*{orderBy}" />
                    </form>
                </div>
            </div>
            <div class="box">
                <div class="box-body">
                    <div class="p-a">
                        <div class="streamline b-l m-b">
                            <div th:each="notification : ${result.list}" th:classappend="${notification.status == T(OnlineMarket.util.other.NotificationStatus).SEEN.id} ? 'b-success'" class="sl-item">
                                <div class="sl-content">
                                    <div class="sl-date text-muted" ui-jp="humanTime" th:attr="ui-options='{date: \''+${#dates.format(notification.createDate, 'dd-MM-yyyy HH:mm:ss')}+'\', format: \'DD-MM-YYYY HH:mm:ss\'}'" th:text="${#dates.format(notification.createDate, 'dd-MM-yyyy')}">8:30</div>
                                    <p th:utext="${notification.content}">Call to customer <a href="" class="text-info">Jacob</a> and discuss the detail.</p>
                                    <p class="m-b">

                                    <form class="form-confirm" th:action="@{${relativePath} + '/delete'}" method="POST">
                                        <input type="hidden" th:name="id" th:value="${notification.id}">
                                        <a th:attr="data-id=${notification.id},data-status=${notification.status == T(OnlineMarket.util.other.NotificationStatus).UNREAD.id ? 1 : 0}" href="#" th:classappend="${notification.status == T(OnlineMarket.util.other.NotificationStatus).UNREAD.id} ? 'b-success' : 'b-accent'" class="btn btn-icon btn-sm btn-outline action-seen">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                        <button type="submit" class="btn btn-outline b-danger text-danger btn-sm btn-fw"><i class="fa fa-remove"></i> Delete</button>
                                    </form>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="dker p-a">
                <div class="row">
                    <div class="col-sm-4 hidden-xs">
                        <form th:object="${filterForm}" th:action="@{${relativePath}}" method="get">
                            <input type="hidden" th:field="*{search}" />
                            <input type="hidden" th:field="*{searchBy}" />
                            <input type="hidden" th:field="*{order}" />
                            <input type="hidden" th:field="*{orderBy}" />
                            <label class="form-control-label">Show</label>
                            <select class="input-sm form-control w-sm inline v-middle" th:field="*{size}">
                                <option value="10">10 rows</option>
                                <option value="20" th:if="${result.totalPages * filterForm.size} > 10">20 rows</option>
                                <option value="50" th:if="${result.totalPages * filterForm.size} > 50">50 rows</option>
                            </select>
                            <button type="submit" class="btn btn-sm btn-fw white">Apply</button>
                        </form>

                    </div>
                    <div class="col-sm-4 pull-right text-right text-center-xs">
                        <filter:pagination filter:uri="@{${relativePath}}"></filter:pagination>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>

</body>
</html>