<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

		<div th:fragment="nav">
          <nav class="scroll nav-light">
            
              <ul class="nav" ui-nav>
                <li class="nav-header hidden-folded">
                  <small class="text-muted">Main</small>
                </li>
                <li>
                  <a href="dashboard.0.html" >
                    <span class="nav-icon">
                      <i class="material-icons">&#xe3fc;
                        <span th:attr="ui-include='\''+ @{/assets/backend/assets/images/i_0.svg} +'\''"></span>
                      </i>
                    </span>
                    <span class="nav-text">Menu</span>
                  </a>
               </li>
               <li th:class="${brandPage} ? 'active'" >
                  <a>
                  	<span class="nav-caret">
                      <i class="fa fa-caret-down"></i>
                    </span>
                    <span class="nav-icon">
                      <i class="material-icons">&#xe5c3;
                        <span th:attr="ui-include='\''+ @{/assets/backend/assets/images/i_1.svg} +'\''"></span>
                      </i>
                    </span>
                    <span class="nav-text">Brand</span>
                  </a>
                  <ul class="nav-sub nav-mega">
					<li th:class="${path} == 'brand' ? 'active'"><a th:href="@{/admin/brand}"><span class="nav-text">List</span></a></li>
					<li th:class="${path} == 'brand-add' ? 'active'"><a th:href="@{/admin/brand/add}"><span class="nav-text">Add new</span></a></li>
				</ul>
               </li>
               <li th:class="${provincePage} ? 'active'" >
                  <a>
                  	<span class="nav-caret">
                      <i class="fa fa-caret-down"></i>
                    </span>
                    <span class="nav-icon">
                      <i class="material-icons">&#xe39e;
                        <span th:attr="ui-include='\''+ @{/assets/backend/assets/images/i_6.svg} +'\''"></span>
                      </i>
                    </span>
                    <span class="nav-text">Province</span>
                  </a>
                  <ul class="nav-sub nav-mega">
					<li th:class="${path} == 'province' ? 'active'"><a th:href="@{/admin/province}"><span class="nav-text">List</span></a></li>
					<li th:class="${path} == 'province-add' ? 'active'"><a th:href="@{/admin/province/add}"><span class="nav-text">Add new</span></a></li>
				</ul>
               </li>
                <li th:class="${mediaPage} ? 'active'">
                  <a th:href="@{/admin/media}" >
                    <span class="nav-icon">
                      <i class="material-icons">&#xe8f0;
                        <span th:attr="ui-include='\''+ @{/assets/backend/assets/images/i_2.svg} +'\''"></span>
                      </i>
                    </span>
                    <span class="nav-text">Multimedia</span>
                  </a>
               </li>
               <li th:class="${configPage} ? 'active'" >
                  <a>
                  	<span class="nav-caret">
                      <i class="fa fa-caret-down"></i>
                    </span>
                    <span class="nav-icon">
                      <i class="material-icons">&#xe429;
                        <span th:attr="ui-include='\''+ @{/assets/backend/assets/images/i_4.svg} +'\''"></span>
                      </i>
                    </span>
                    <span class="nav-text">Setting</span>
                  </a>
                  <ul class="nav-sub nav-mega">
					<li th:class="${path} == 'general' ? 'active'"><a th:href="@{/admin/config}"><span class="nav-text">Basic Setup</span></a></li>
					<li th:class="${path} == 'logo' ? 'active'"><a th:href="@{/admin/config/logo}"><span class="nav-text">Logo</span></a></li>
					<li th:class="${path} == 'socialble' ? 'active'"><a th:href="@{/admin/config/social}"><span class="nav-text">Social Network</span></a></li>
					<li th:class="${path} == 'upload' ? 'active'"><a th:href="@{/admin/config/upload}"><span class="nav-text">Upload Photo</span></a></li>
					<li th:class="${path} == 'email' ? 'active'"><a th:href="@{/admin/config/emailsystem}"><span class="nav-text">Email System</span></a></li>
					<li th:class="${path} == 'contact' ? 'active'"><a th:href="@{/admin/config/contact}"><span class="nav-text">Contact</span></a></li>
				</ul>
               </li>
              </ul>
              
          </nav>
          </div>
</body>
</html>