<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="aside">

    <h3>Best seller</h3>
    <div class="side-item">
        <th:block th:each="product : ${productBestSellerList}">
            <div th:replace="/templates/item::productList (${product})"></div>
        </th:block>
    </div>
    <h3>Best viewing</h3>
    <div class="side-item">
        <th:block th:each="product : ${productBestViewing}">
            <div th:replace="/templates/item::productList (${product})"></div>
        </th:block>
    </div>
    <h3>Best Rating</h3>
    <div class="side-item">
        <th:block th:each="product : ${productBestRating}">
            <div th:replace="/templates/item::productList (${product})"></div>
        </th:block>
    </div>
</th:block>
</body>
</html>