<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--/*@thymesVar id="general" type="onlinemarket.form.config.GeneralConfig"*/-->
<!--/*@thymesVar id="logo" type="onlinemarket.form.config.LogoConfig"*/-->
<!--/*@thymesVar id="menuSite" type="onlinemarket.util.MenuSite"*/-->
<!--/*@thymesVar id="currentUser" type="onlinemarket.model.User"*/-->
<!--/*@thymesVar id="social" type="onlinemarket.form.config.SocialConfig"*/-->
<!--/*@thymesVar id="pageTitle" type="java.lang.String"*/-->
<head>
    <meta charset="UTF-8"/>
    <title th:text="(${pageTitle} == null) ? ${general.title} : (${pageTitle} + ' | '+ ${general.title})"></title>
    <meta name="description" th:content="${general.description}">
    <meta name="keyword" th:content="${general.keyword}">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link th:href="@{${logo.favicon}}" rel="icon"/>

    <!-- for ios 7 style, multi-resolution icon of 152x152 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
    <link rel="apple-touch-icon" th:href="@{${logo.favicon}}">
    <meta name="apple-mobile-web-app-title" th:content="${general.title}">
    <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" sizes="196x196" th:href="@{${logo.favicon}}">


    <!-- CSS Part Start-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/frontend/js/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/frontend/css/font-awesome/css/font-awesome.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/frontend/css/stylesheet.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/frontend/css/owl.carousel.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/frontend/css/owl.transitions.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/assets/frontend/css/responsive.css}"/>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans' type='text/css'/>
    <!-- CSS Part End-->
    <th:block layout:fragment="head">

    </th:block>
</head>
<body th:inline="text">
<div class="wrapper-wide">
    <div id="header">
        <!-- Top Bar Start-->
        <nav id="top" class="htop">
            <div class="container">
                <div class="row"><span class="drop-icon visible-sm visible-xs"><i
                        class="fa fa-align-justify"></i></span>
                    <div class="pull-left flip left-top">
                        <div class="links">
                            <ul>
                                <li class="mobile"><i class="fa fa-phone"></i>[[${contact.phoneNumber}]]</li>
                                <li class="email"><a href="'mailto:'+${metaPage.email}"><i class="fa fa-envelope"></i>[[${contact.email}]]</a></li>
                                <th:block th:utext="${menuSite.top}"></th:block>
                            </ul>
                        </div>

                    </div>
                    <div id="top-links" class="nav pull-right flip">
                        <div id="nav-user" class="btn-group" th:if="${currentUser.id}">
                            <button class="btn-link dropdown-toggle" data-toggle="dropdown"><span> [[${currentUser.firstName}]] <i
                                    class="fa fa-caret-down"></i></span></button>
                            <ul class="dropdown-menu">
                                <li sec:authorize="hasRole('ROLE_ADMIN')">
                                    <a class="nav-user-select" th:href="@{/admin}">Administrator</a>
                                </li>
                                <li>
                                    <a class="nav-user-select" th:href="@{/user}">Personal Page
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-user-select" th:href="@{/user/cart}">Cart
                                    </a>
                                </li>
                                <li>
                                    <a class="nav-user-select" th:href="@{/user/noitification}">Notification</a>
                                </li>
                                <li>
                                    <a class="nav-user-select" th:href="@{/user/order}">Order</a>
                                </li>
                                <li class="divider" role="separator"></li>
                                <li>
                                    <a class="nav-user-select" th:href="@{/user/setting}">Setting</a>
                                </li>
                                <li>
                                    <a class="nav-user-select" th:href="@{/logout}">Exit</a>
                                </li>
                            </ul>
                        </div>

                        <ul th:unless="${currentUser.id}">
                            <li><a th:href="@{/login}">Login</a></li>
                            <li><a th:href="@{/register}">Register</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Top Bar End-->
        <!-- Header Start-->
        <header class="header-row">
            <div class="container">
                <div class="table-container">
                    <!-- Logo Start -->
                    <div class="col-table-cell col-lg-6 col-md-6 col-sm-12 col-xs-12 inner">
                        <div id="logo"><a th:href="@{/}"><img class="img-responsive" th:src="@{${logo.logo}}" th:title="${general.title}" th:alt="${general.title}"/></a></div>
                    </div>
                    <!-- Logo End -->
                    <!-- Mini Cart Start-->
                    <div class="col-table-cell col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        <div id="cart">
                            <button type="button" data-toggle="dropdown" data-loading-text="Loading..."
                                    class="heading dropdown-toggle">
                                <span class="cart-icon pull-left flip"></span>
                                <span id="cart-total">2 item(s) - $1,132.00</span></button>
                            <ul class="dropdown-menu">
                                <li>
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td class="text-center"><a href="product.html"><img class="img-thumbnail"
                                                                                                title="Xitefun Causal Wear Fancy Shoes"
                                                                                                alt="Xitefun Causal Wear Fancy Shoes"
                                                                                                th:src="@{/assets/image/product/sony_vaio_1-50x50.jpg}"></a>
                                            </td>
                                            <td class="text-left"><a href="product.html">Xitefun Causal Wear Fancy
                                                Shoes</a></td>
                                            <td class="text-right">x 1</td>
                                            <td class="text-right">$902.00</td>
                                            <td class="text-center">
                                                <button class="btn btn-danger btn-xs remove" title="Remove" onClick=""
                                                        type="button"><i class="fa fa-times"></i></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center"><a href="product.html"><img class="img-thumbnail"
                                                                                                title="Aspire Ultrabook Laptop"
                                                                                                alt="Aspire Ultrabook Laptop"
                                                                                                th:src="@{/assets/image/product/samsung_tab_1-50x50.jpg}"></a>
                                            </td>
                                            <td class="text-left"><a href="product.html">Aspire Ultrabook Laptop</a>
                                            </td>
                                            <td class="text-right">x 1</td>
                                            <td class="text-right">$230.00</td>
                                            <td class="text-center">
                                                <button class="btn btn-danger btn-xs remove" title="Remove" onClick=""
                                                        type="button"><i class="fa fa-times"></i></button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </li>
                                <li>
                                    <div>
                                        <table class="table table-bordered">
                                            <tbody>
                                            <tr>
                                                <td class="text-right"><strong>Sub-Total</strong></td>
                                                <td class="text-right">$940.00</td>
                                            </tr>
                                            <tr>
                                                <td class="text-right"><strong>Eco Tax (-2.00)</strong></td>
                                                <td class="text-right">$4.00</td>
                                            </tr>
                                            <tr>
                                                <td class="text-right"><strong>VAT (20%)</strong></td>
                                                <td class="text-right">$188.00</td>
                                            </tr>
                                            <tr>
                                                <td class="text-right"><strong>Total</strong></td>
                                                <td class="text-right">$1,132.00</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                        <p class="checkout"><a href="cart.html" class="btn btn-primary"><i
                                                class="fa fa-shopping-cart"></i> View Cart</a>&nbsp;&nbsp;&nbsp;<a
                                                href="checkout.html" class="btn btn-primary"><i class="fa fa-share"></i>
                                            Checkout</a></p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Mini Cart End-->
                    <!-- Search Start-->
                    <div class="col-table-cell col-lg-3 col-md-3 col-sm-6 col-xs-12 inner">
                        <form method="GET" th:action="@{/search}">
                        <div id="search" class="input-group">
                            <input type="text"  placeholder="Search"
                                   name="search" id="filter_name"
                                   class="form-control input-lg"/>
                            <button type="submit" class="button-search"><i class="fa fa-search"></i></button>
                        </div>
                        </form>
                    </div>
                    <!-- Search End-->
                </div>
            </div>
        </header>
        <!-- Header End-->
        <!-- Main Menu Start-->
        <div class="container">
            <nav id="menu" class="navbar">
                <div class="navbar-header"><span class="visible-xs visible-sm"> Menu <b></b></span></div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav" th:utext="${menuSite.header}"></ul>
                </div>
            </nav>
        </div>
        <!-- Main Menu End-->
    </div>
    <div id="container" layout:fragment="container">

    </div>
    <!--Footer Start-->
    <footer id="footer">
        <div class="fpart-first">
            <div class="container">
                <div class="row">
                    <div class="contact col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <h5>Contact Details</h5>
                        <ul>
                            <li class="address"><i class="fa fa-map-marker"></i>[[${contact.address}]]</li>
                            <li class="mobile"><i class="fa fa-phone"></i>[[${contact.phoneNumber}]]</li>
                            <li class="email"><i class="fa fa-envelope"></i>Send email via our <a th:href="@{/contact}">Contact
                                Us</a>
                        </ul>
                    </div>
                    <div class="contact col-lg-4 col-md-4 col-sm-12 col-xs-12" th:utext="${menuSite.footerFirst}"></div>
                    <div class="contact col-lg-4 col-md-4 col-sm-12 col-xs-12" th:utext="${menuSite.footerSecond}"></div>
                    <div class="contact col-lg-4 col-md-4 col-sm-12 col-xs-12" th:utext="${menuSite.footerThird}"></div>
                    <div class="contact col-lg-4 col-md-4 col-sm-12 col-xs-12" th:utext="${menuSite.footerFour}"></div>
                </div>
            </div>
        </div>
        <div class="fpart-second">
            <div class="container">
                <div id="powered" class="clearfix">
                    <div class="powered_text pull-left flip">
                        <p th:utext="${general.licenseText}"></p>
                    </div>
                    <div class="social pull-right flip" th:utext="${menuSite.footerBottomRight}"></div>
                </div>
                <div class="bottom-row">
                    <div class="custom-text text-center">
                        <p th:text="${general.footerText}"></p>
                    </div>
                    <div class="payments_types" th:utext="${menuSite.footerBottom}"></div>
                </div>
            </div>
        </div>
        <div id="back-top"><a data-toggle="tooltip" title="Back to Top" href="javascript:void(0)" class="backtotop"><i
                class="fa fa-chevron-up"></i></a></div>
    </footer>
    <!--Footer End-->
    <!-- Facebook Side Block Start -->
    <div id="facebook" class="fb-left sort-order-1" th:if="${social.facebook != null && social.facebook != ''}">
        <div class="facebook_icon"><i class="fa fa-facebook"></i></div>
        <div class="fb-page" th:attr="data-href=${social.facebook}" data-small-header="true"
             data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true" data-show-posts="false">
            <div class="fb-xfbml-parse-ignore">
                <blockquote th:attr="cite=${social.facebook}"><a
                        th:href="${social.facebook}">Fanpage</a></blockquote>
            </div>
        </div>
        <div id="fb-root"></div>
        <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    </div>
    <!-- Facebook Side Block End -->
    <!-- Twitter Side Block Start -->
    <div id="twitter_footer" class="twit-left sort-order-2" th:if="${social.twitter != null && social.twitter != ''}">
        <div class="twitter_icon"><i class="fa fa-twitter"></i></div>
        <a class="twitter-timeline" href="https://twitter.com/" data-chrome="nofooter noscrollbar transparent"
           data-theme="light" data-tweet-limit="2" data-related="twitterapi,twitter" data-aria-polite="assertive"
           th:attr="data-widget-id=${social.twitter}">Tweets by @</a>
        <script>!function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
            if (!d.getElementById(id)) {
                js = d.createElement(s);
                js.id = id;
                js.src = p + "://platform.twitter.com/widgets.js";
                fjs.parentNode.insertBefore(js, fjs);
            }
        }(document, "script", "twitter-wjs");</script>
    </div>
    <!-- Twitter Side Block End -->
</div>
<!-- JS Part Start-->
<script type="text/javascript" th:src="@{/assets/frontend/js/jquery-2.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/frontend/js/bootstrap/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/frontend/js/jquery.cookie.js}"></script>
<script type="text/javascript" th:src="@{/assets/frontend/js/jquery.easing-1.3.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/frontend/js/jquery.dcjqaccordion.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/frontend/js/owl.carousel.min.js}"></script>
<!-- JS Part End-->
<div layout:fragment="customScript">

</div>
<script type="text/javascript" th:src="@{/assets/frontend/js/custom.js}"></script>

</body>
</html>