<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<div class="product-thumb clearfix" th:fragment="productList (item)">
    <div class="image">
    <a th:href="@{'/product/'+${item.slug}}"><img
            th:src="@{${item.featureImage}}" class="img-responsive"/></a></div>
    <div class="caption">
        <h4><a th:href="@{'/product/'+${item.slug}}" th:alt="${item.name}"
               th:text="${item.name}"></a></h4>
        <p class="price"><span class="price-new" th:text="${item.newPriceStr}"></span>
            <span class="price-old" th:if="${item.newPriceStr != '' && item.sale != ''}"
                  th:text="${item.priceStr}"></span> <span th:if="${item.sale != ''}"
                                                              class="saving"
                                                              th:text="${item.sale}"></span>
        <div class="rating text-warn">
                                        <span class="fa fa-stack" th:each="number : ${#numbers.sequence(1, 5)}">
                                            <i th:if="${item.ratingStatistic != null && item.ratingStatistic.averageScore >= number}"
                                               class="fa fa-star fa-stack-2x"></i>
                                            <i th:if="${item.ratingStatistic != null && item.ratingStatistic.averageScore < number && item.ratingStatistic.averageScore > number - 1}"
                                               class="fa fa-star-half-full fa-stack-2x"></i>
                                            <i class="fa fa-star-o fa-stack-2x"></i>
                                        </span>
        </div>
        </p>
    </div>
</div>

<div class="simpleCart_shelfItem product-thumb clearfix" th:fragment="productGrid (item)">
    <div class="image"><a class="item_pagelink" th:href="@{'/product/'+${product.slug}}"><img
            th:src="@{${item.featureImage}}" class="img-responsive item_image"/></a></div>
    <div>
        <div class="caption">
            <h4><a th:href="@{'/product/'+${item.slug}}" data-toggle="tooltip"
                   th:title="${item.name}" th:text="${item.name}" class="item_name"></a></h4>
            <p class="price"><span class="price-new" th:text="${item.newPriceStr}"></span>
                <span class="price-old" th:if="${!item.newPriceStr.equals('') && !item.sale.equals('')}"
                      th:text="${item.priceStr}"></span> <span th:if="${item.sale != ''}"
                                                                  class="saving"
                                                                  th:text="${item.sale}"></span>
            </p>
            <p class="item_price hidden" th:text="${item.newPrice}"></p>
            <p class="item_id hidden" th:text="${item.id}"></p>
            <div class="rating text-warn">
                                        <span class="fa fa-stack" th:each="number : ${#numbers.sequence(1, 5)}">
                                            <i th:if="${item.ratingStatistic != null && item.ratingStatistic.averageScore >= number}"
                                               class="fa fa-star fa-stack-2x"></i>
                                            <i th:if="${item.ratingStatistic != null && item.ratingStatistic.averageScore < number && item.ratingStatistic.averageScore > number - 1}"
                                               class="fa fa-star-half-full fa-stack-2x"></i>
                                            <i class="fa fa-star-o fa-stack-2x"></i>
                                        </span>
            </div>
        </div>
        <div class="button-group">
            <button class="btn-primary item_add" type="button" onClick=""><span>Add to Cart</span>
            </button>
            <div class="add-to-links">
                <button type="button" data-toggle="tooltip"
                        th:attr="data-cate-id=${item.productCategory.id},data-id=${item.id}"
                        title="Compare this Product" class="compare-product"><i
                        class="fa fa-exchange"></i>
                    <span>Compare this Product</span></button>
            </div>
        </div>
    </div>

</div>

<div th:fragment="productGridList (product)" class="product-layout product-list col-xs-12">
    <div class="simpleCart_shelfItem product-thumb clearfix">
        <div class="image"><a class="item_pagelink" th:href="@{'/product/'+${product.slug}}"><img
                th:src="@{${product.featureImage}}" class="img-responsive item_image"/></a></div>
        <div>
            <div class="caption">
                <h4><a th:href="@{'/product/'+${product.slug}}" data-toggle="tooltip"
                       th:title="${product.name}" th:text="${product.name}" class="item_name"></a></h4>
                <p th:if="${product.events.size() > 0}" class="description">
                    <b>Sales</b><br>
                    <th:block th:each="event : ${product.events}">
                        <a th:href="@{'/event/'+${event.id}}" th:text="${event.name}"></a><br>
                    </th:block>
                </p>
                <p class="price"><span class="price-new" th:text="${product.newPriceStr}"></span>
                    <span class="price-old" th:if="${!product.newPriceStr.equals('') && !product.sale.equals('')}"
                          th:text="${product.priceStr}"></span> <span th:if="${product.sale != ''}"
                                                                      class="saving"
                                                                      th:text="${product.sale}"></span>
                </p>
                <p class="item_price hidden" th:text="${product.newPrice}"></p>
                <p class="item_id hidden" th:text="${product.id}"></p>
                <div class="rating text-warn">
                                        <span class="fa fa-stack" th:each="number : ${#numbers.sequence(1, 5)}">
                                            <i th:if="${item.ratingStatistic != null && item.ratingStatistic.averageScore >= number}"
                                               class="fa fa-star fa-stack-2x"></i>
                                            <i th:if="${item.ratingStatistic != null && item.ratingStatistic.averageScore < number && item.ratingStatistic.averageScore > number - 1}"
                                               class="fa fa-star-half-full fa-stack-2x"></i>
                                            <i class="fa fa-star-o fa-stack-2x"></i>
                                        </span>
                </div>
            </div>
            <div class="button-group">
                <button class="btn-primary item_add" type="button" onClick=""><span>Add to Cart</span>
                </button>
                <div class="add-to-links">
                    <button type="button" data-toggle="tooltip"
                            th:attr="data-cate-id=${product.productCategory.id},data-id=${product.id}"
                            title="Compare this Product" class="compare-product"><i
                            class="fa fa-exchange"></i>
                        <span>Compare this Product</span></button>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>