<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="templates/backend">
<head>
</head>
<body>

  <div ui-view class="app-body" id="view" layout:fragment="container">
		<div class="padding">

			<h5 class="_300 margin" th:text="${pageTitle}"></h5>
			<div class="alert alert-success" th:if="${success}">
				<strong>Congratulation!</strong> Process completed.
			</div>
			<div class="row">
				<div class="col-md-9">

					<div class="box">
						<div class="box-header">
							<h2 th:text="${subPageTitle}"></h2>
							<small th:text="${description}"></small>
						</div>

						<div class="box-divider m-a-0"></div>
						
						<div class="box-body">
							
							<form ui-jp="parsley" role="form" th:object="${brand}" th:action="@{${pathAction}}" method="POST">
								<input th:if="${action} == 'update'" type="hidden" th:field="*{id}" />
								<input th:if="${action} == 'update'" type="hidden" th:field="*{beforeSlug}" th:value="*{slug}" />
								<div class="form-group row">
									<label class="col-sm-3 form-control-label">Name</label>
									<div class="col-sm-9">
										<input th:errorclass="parsley-error" class="form-control" type="text" th:field="*{name}" required data-parsley-length="[3, 64]" data-parsley-id="name"/>
										<ul class="parsley-errors-list filled" id="parsley-id-name" th:if="${#fields.hasErrors('name')}"><li th:errors="*{name}"> </li></ul>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-3 form-control-label">Slug</label>
									<div class="col-sm-9">
										<input th:errorclass="parsley-error" class="form-control" type="text" th:field="*{slug}" required data-parsley-length="[3, 64]" data-parsley-id="slug" data-parsley-target="name" 
										th:attr="data-parsley-unique-slug=@{/api/brand/check-slug}" />
										<ul class="parsley-errors-list filled" id="parsley-id-slug" th:if="${#fields.hasErrors('slug')}"><li th:errors="*{slug}"> </li></ul>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-3 form-control-label">Image</label>
									<div class="col-sm-9">
										<div class="box p-a-xs box-thumbnail">
						                	<a href="#" data-toggle="modal" data-target="#modal-image-gallery" ui-toggle-class="zoom" ui-target="#animate" data-target-input="imagePath">
						                		<img th:if="*{imagePath}" th:src="@{'/'+*{imagePath}}" alt="..." class="img-thumbnail thumbnail">
						                		<img th:unless="*{imagePath}" th:src="@{/assets/images/defaultImage.jpg}" alt="..." class="img-thumbnail thumbnail">
					                		</a>
						              	</div>
										<input th:errorclass="parsley-error" class="form-control hide" type="text" th:field="*{imagePath}" required data-parsley-length="[3, 150]"/>
										<ul class="parsley-errors-list filled" id="parsley-id-imagePath" th:if="${#fields.hasErrors('imagePath')}"><li th:errors="*{imagePath}"> </li></ul>
									</div>
								</div>
								<div class="form-group row">
									<label class="col-sm-3 form-control-label">Description</label>
									<div class="col-sm-9">
										<textarea th:errorclass="parsley-error" class="form-control" th:field="*{description}" data-parsley-length="[50, 1000]" data-parsley-id="description"></textarea>
										<ul class="parsley-errors-list filled" id="parsley-id-description" th:if="${#fields.hasErrors('description')}"><li th:errors="*{description}"> </li></ul>
									</div>
								</div>
								<div class="dker p-a text-right">
					    			<button type="submit" class="btn info">Save</button>
								</div>
							</form>
						
						</div>
					</div>

				</div>
			</div>
		</div>
		<div id="modal-image-gallery" class="modal fade animate" data-backdrop="true" aria-hidden="true">
		  <div class="modal-dialog zoom modal-lg" id="animate" ui-class="zoom">
		    <div class="modal-content">
		      <div class="modal-header">
		      	<h5 class="modal-title">Pick Image</h5>
		      </div>
		      <div class="modal-body" ui-jp='galleryManager' th:attr="ui-options='{modal: true, actionUpload: \''+@{/api/image/upload}+'\', actionLoadImage: \''+@{/api/image/load}+'\', actionDelete: \''+@{/api/image/delete}+'\'}'">
		       	
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn dark-white p-x-md" data-dismiss="modal">No</button>
		        <button type="button" class="btn danger p-x-md" data-dismiss="modal" data-action="yes">Yes</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div>
		</div>
		<div th:replace="templates/backend/media :: media" ></div>
  </div>

</body>
</html>