<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:filter="http://thymeleafexamples"
      layout:decorate="templates/backend">
<!--/*@thymesVar id="result" type="OnlineMarket.result.ResultObject<OnlineMarket.model.Event>"*/-->
<!--/*@thymesVar id="breadcrumbs" type="java.lang.String[]"*/-->
<!--/*@thymesVar id="pageTitle" type="java.lang.String"*/-->
<!--/*@thymesVar id="relativePath" type="java.lang.String"*/-->
<!--/*@thymesVar id="success" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="error" type="java.lang.Boolean"*/-->
<!--/*@thymesVar id="filterForm" type="OnlineMarket.form.filter.FilterForm"*/-->
<head>
</head>
<body>

<div ui-view class="app-body" id="view" layout:fragment="container">
    <div class="padding">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" th:each="breadcrumb : ${breadcrumbs}"><a th:href="@{${breadcrumb[0]}}"
                                                                                 th:text="${breadcrumb[1]}"></a></li>
        </ol>
        <div class="box">
            <div class="box-header">
                <h2 th:text="${pageTitle}"></h2>
            </div>
            <div class="alert alert-success m-x-lg" th:if="${success} != null">
                <strong>Congratulation!</strong> Process completed.
            </div>
            <div class="alert alert-danger m-x-lg" th:if="${error} != null">
                <strong>Obbs!</strong> [[${error}]].
            </div>
            <div class="row p-a">
                <form th:object="${filterForm}" th:action="@{${relativePath}}" method="GET">

                    <div class="col-sm-3">
                        <select class="form-control" th:field="*{groupSearch['status']}">
                            <option value="">State</option>
                            <option value="0">Active</option>
                            <option value="1">In Active</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <select class="form-control" th:field="*{searchBy}">
                            <option value="">Search by</option>
                            <option value="name">Name</option>
                            <option value="products.name">Product name</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <div class="input-group">
                            <input class="form-control" placeholder="Search" type="text" th:field="*{search}">
                            <span class="input-group-btn">
	                             <button class="btn b-a white" type="submit">Go!</button>
	                         </span>
                        </div>
                        <input type="hidden" th:field="*{size}"/>
                        <input type="hidden" th:field="*{order}"/>
                        <input type="hidden" th:field="*{orderBy}"/>

                    </div>
                </form>
            </div>
            <div class="table-responsive">
                <table class="table table-hover b-t">
                    <thead>
                    <tr>
                        <filter:th order="asc" orderBy="id" filter:uri="@{${relativePath}}"
                                   name="#">#
                        </filter:th>
                        <filter:th order="asc" orderBy="status" filter:uri="@{${relativePath}}"

                                   name="Status">Name
                        </filter:th>
                        <filter:th order="asc" orderBy="name" filter:uri="@{${relativePath}}"

                                   name="Name">Name
                        </filter:th>
                        <filter:th order="asc" orderBy="count" filter:uri="@{${relativePath}}"

                                   name="Count">Name
                        </filter:th>
                        <filter:th order="asc" orderBy="dateForm" filter:uri="@{${relativePath}}"

                                   name="Start Date">Name
                        </filter:th>
                        <filter:th order="asc" orderBy="dateTo" filter:uri="@{${relativePath}}"

                                   name="End Date">Name
                        </filter:th>
                        <filter:th order="asc" orderBy="createDate" filter:uri="@{${relativePath}}"

                                   name="Create Date">Name
                        </filter:th>
                        <filter:th order="asc" orderBy="updateDate" filter:uri="@{${relativePath}}"

                                   name="Update Date">Name
                        </filter:th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="event: ${result.list}">
                        <td th:text="${event.id}"></td>
                        <td>
                            <th:block th:if="${event.status} == 0">Active</th:block>
                            <th:block th:if="${event.status} == 1">In Active</th:block>
                        </td>
                        <td><a th:href="@{'/event/'+${event.id}}" th:text="${event.name}" class="text-info">View</a></td>
                        <td th:text="${event.count}"></td>
                        <td ui-jp="humanTime" th:attr="ui-options='{date: \''+${#dates.format(event.dateFrom, 'dd-MM-yyyy')}+'\', format: \'DD-MM-YYYY\'}'" th:text="${#dates.format(event.dateFrom, 'dd-MM-yyyy')}"></td>
                        <td ui-jp="humanTime" th:attr="ui-options='{date: \''+${#dates.format(event.dateTo, 'dd-MM-yyyy')}+'\', format: \'DD-MM-YYYY\'}'" th:text="${#dates.format(event.dateTo, 'dd-MM-yyyy')}"></td>
                        <td ui-jp="humanTime" th:attr="ui-options='{date: \''+${#dates.format(event.createDate, 'dd-MM-yyyy')}+'\', format: \'DD-MM-YYYY\'}'" th:text="${#dates.format(event.createDate, 'dd-MM-yyyy')}"></td>
                        <td ui-jp="humanTime" th:attr="ui-options='{date: \''+${#dates.format(event.updateDate, 'dd-MM-yyyy')}+'\', format: \'DD-MM-YYYY\'}'" th:text="${#dates.format(event.updateDate, 'dd-MM-yyyy')}"></td>
                        <td>
                            <form class="form-confirm" th:action="@{${relativePath}+'/delete'}" method="POST">
                                <a th:href="@{${relativePath}+'/update/'+${event.id}}"
                                   class="btn btn-outline b-info text-success btn-sm btn-fw">Update</a>
                                <input type="hidden" th:name="id" th:value="${event.id}">
                                <button type="submit" class="btn btn-outline b-info text-danger btn-sm btn-fw">Delete</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <footer class="dker p-a">
                <div class="row">
                    <div class="col-sm-4 hidden-xs">
                        <form th:object="${filterForm}" th:action="@{${relativePath}}" method="get">
                            <input type="hidden" th:field="*{search}"/>
                            <input type="hidden" th:field="*{searchBy}"/>
                            <input type="hidden" th:field="*{order}"/>
                            <input type="hidden" th:field="*{orderBy}"/>
                            <label class="form-control-label">Show</label>
                            <select class="input-sm form-control w-sm inline v-middle" th:field="*{size}">
                                <option th:value="10">10 rows</option>
                                <option th:value="20" th:if="${result.totalPages * filterForm.size} > 10">20 rows
                                </option>
                                <option th:value="50" th:if="${result.totalPages * filterForm.size} > 50">50 rows
                                </option>
                            </select>
                            <button type="submit" class="btn btn-sm btn-fw white">Apply</button>
                        </form>

                    </div>
                    <div class="col-sm-4 pull-right text-right text-center-xs">
                        <filter:pagination filter:uri="@{${relativePath}}"></filter:pagination>
                    </div>
                </div>
            </footer>
        </div>
    </div>
</div>


</body>
</html>