<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="templates/backend">
<head>
</head>
<body>

	<div ui-view class="app-body" id="view" layout:fragment="container">
	
		<div ui-jp='galleryManager' class="padding" th:attr="ui-options='{actionUpload: \''+@{/api/image/upload}+'\', actionLoadImage: \''+@{/api/image/load}+'\', actionDelete: \''+@{/api/image/delete}+'\'}'"></div>
		<div th:replace="templates/backend/media :: media"></div>
	</div>
</body>
</html>