<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="templates/backend">
<head>
</head>
<body>

<div ui-view class="app-body" id="view" layout:fragment="container">
    <div class="padding">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" th:each="breadcrumb : ${breadcrumbs}"><a th:href="@{${breadcrumb[0]}}" th:text="${breadcrumb[1]}"></a></li>
        </ol>
        <div class="alert alert-success" th:if="${success}">
            <strong>Congratulation!</strong> Process completed.
        </div>
        <div class="row">
            <div class="col-md-12">

                <!--/*@thymesVar id="product" type="OnlineMarket.form.product.ProductForm"*/-->
                <form id="formProduct" ui-jp="parsley" role="form" th:object="${product}" th:action="@{${pathAction}}" method="POST">
                    <input th:if="${action} == 'update'" type="hidden" th:field="*{id}"/>
                    <input th:if="${action} == 'update'" type="hidden" id="beforeSlug" name="beforeSlug"
                           th:value="*{slug}"/>
                    <div class="box">
                        <div class="box-header">
                            <h2 th:text="${pageTitle}"></h2>
                            <small th:text="${description}"></small>
                        </div>

                        <div class="box-divider m-a-0"></div>

                        <div class="box-body">
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Name</label>
                                <div class="col-sm-9">
                                    <input th:errorclass="parsley-error" class="form-control" type="text"
                                           th:field="*{name}" required data-parsley-length="[3, 255]"
                                           data-parsley-id="name"/>
                                    <ul class="parsley-errors-list filled" id="parsley-id-name"
                                        th:if="${#fields.hasErrors('name')}">
                                        <li th:errors="*{name}"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Slug</label>
                                <div class="col-sm-3">
                                    <input th:errorclass="parsley-error" class="form-control" type="text"
                                           th:field="*{slug}" required data-parsley-length="[3,255]"
                                           data-parsley-id="slug" data-parsley-target="name"
                                           th:attr="data-parsley-unique-slug=@{/api/product/check-slug}"/>
                                    <ul class="parsley-errors-list filled" id="parsley-id-slug"
                                        th:if="${#fields.hasErrors('slug')}">
                                        <li th:errors="*{slug}"></li>
                                    </ul>
                                </div>
                                <label class="col-sm-3 form-control-label">Weight</label>
                                <div class="col-sm-3">
                                    <input th:errorclass="parsley-error" type="text" class="form-control"
                                           data-parsley-id="2" data-parsley-range="[0, 1000000]" required
                                           th:field="*{weight}">
                                    <ul class="parsley-errors-list filled" id="parsley-id-11"
                                        th:if="${#fields.hasErrors('state')}">
                                        <li th:errors="*{weight}"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Image</label>
                                <div class="col-sm-9 box-image">
                                    <a href="#" data-toggle="modal" data-target="#modal-image-gallery"
                                       ui-toggle-class="zoom" ui-target="#animate" data-target-input="featureImage">
                                        <img th:if="*{featureImage}" th:src="@{*{featureImage}}" alt="..."
                                             class="img-thumbnail thumbnail box-thumbnail">
                                        <img th:unless="*{featureImage}" th:src="@{/assets/images/defaultImage.jpg}"
                                             alt="..." class="img-thumbnail thumbnail box-thumbnail">
                                    </a>
                                    <input th:errorclass="parsley-error" class="form-control hide" type="text"
                                           th:field="*{featureImage}" required maxlength="2088"/>
                                    <ul class="parsley-errors-list filled" id="parsley-id-favicon"
                                        th:if="${#fields.hasErrors('featureImage')}">
                                        <li th:errors="*{featureImage}"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">State</label>
                                <div class="col-sm-3">
                                    <select th:field="*{state}" class="form-control" data-parsley-id="4" required>
                                        <option value="">Please choice</option>
                                        <!--/*@thymesVar id="st" type="OnlineMarket.util.other.State"*/-->
                                        <option
                                                th:each="st : ${T(OnlineMarket.util.other.ProductStatus).values()}"
                                                th:value="${st.id}" th:text="${st.name}"></option>
                                    </select>
                                    <ul class="parsley-errors-list filled"
                                        th:if="${#fields.hasErrors('state')}">
                                        <li th:errors="*{state}"></li>
                                    </ul>
                                </div>
                                <label class="form-control-label col-sm-3">Brand</label>
                                <div class="col-sm-3">
                                    <select th:field="*{brand.id}" class="form-control" data-parsley-id="4" required>
                                        <option value="">Please choice</option>
                                        <!--/*@thymesVar id="brandList" type="java.util.List<OnlineMarket.model.Brand>"*/-->
                                        <!--/*@thymesVar id="brandChoice" type="OnlineMarket.model.Brand"*/-->
                                        <option
                                                th:each="brandChoice : ${brandList}"
                                                th:value="${brandChoice.id}" th:text="${brandChoice.name}"></option>
                                    </select>
                                    <ul class="parsley-errors-list filled" id="parsley-id-4"
                                        th:if="${#fields.hasErrors('brand')}">
                                        <li th:errors="*{brand}"></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Release Date</label>
                                <div class="col-sm-3">
                                    <input ui-jp="datetimepicker" ui-options="{format: 'MM/YYYY'}" data-parsley-id="4" required
                                           th:errorclass="parsley-error" class="form-control"
                                           type="text" th:field="*{releaseDate}"/>
                                    <ul class="parsley-errors-list filled"
                                        th:if="${#fields.hasErrors('releaseDate')}">
                                        <li th:errors="*{releaseDate}"></li>
                                    </ul>
                                </div>
                                <label class="col-sm-3 form-control-label">Size</label>
                                <div class="col-sm-3">
                                    <input th:errorclass="parsley-error" class="form-control" type="text"
                                           th:field="*{size}" required
                                           maxlength="150" data-parsley-id="2"/>
                                    <ul class="parsley-errors-list filled"
                                        th:if="${#fields.hasErrors('size')}">
                                        <li th:errors="*{size}"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Quantity</label>
                                <div class="col-sm-3">
                                    <input th:errorclass="parsley-error" class="form-control" type="number"
                                           th:field="*{quantity}" data-parsley-type="digits" required
                                           data-parsley-range="[0, 10000]" data-parsley-id="2"/>
                                    <ul class="parsley-errors-list filled"
                                        th:if="${#fields.hasErrors('quantity')}">
                                        <li th:errors="*{quantity}"></li>
                                    </ul>
                                </div>
                                <label class="col-sm-3 form-control-label">Price</label>
                                <div class="col-sm-3">
                                    <input th:errorclass="parsley-error" class="form-control" type="number"
                                           th:field="*{price}" data-parsley-type="digits" required
                                           data-parsley-range="[0, 100000000]" data-parsley-id="2"/>
                                    <ul class="parsley-errors-list filled" id="parsley-id-2"
                                        th:if="${#fields.hasErrors('price')}">
                                        <li th:errors="*{price}"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Description</label>
                                <div class="col-sm-9">
                                    <div class="box m-b-md">
                                        <textarea ui-jp="summernote" ui-options="{height: 350, callbacks : { onImageUpload: window.sendFile}}"
                                                  th:errorclass="parsley-error" class="form-control hide"
                                                  th:field="*{description}" data-parsley-length="[50, 1000000]"
                                                  data-parsley-id="description"></textarea>
                                    </div>
                                    <ul class="parsley-errors-list filled" id="parsley-id-description"
                                        th:if="${#fields.hasErrors('description')}">
                                        <li th:errors="*{description}"></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--/*@thymesVar id="productCategory" type="OnlineMarket.model.ProductCategory"*/-->
                    <div th:each="attributeGroup : ${productCategory.attributeGroups}" class="box">
                        <div class="box-header">
                            <h2 th:text="${attributeGroup.name}"></h2>
                            <small th:text="${attributeGroup.description}"></small>
                        </div>
                        <div class="box-divider m-a-0"></div>
                        <div class="box-divider m-a-0"></div>
                        <div class="box-body">
                            <div th:each="attribute, attributeStat : ${attributeGroup.attributes}" class="form-group row">
                                <label class="col-sm-3 form-control-label" th:text="${attribute.name}"></label>
                                <div th:if="${attribute.type} == 'select'" class="col-sm-9 row" th:id="'attributeValues-' + ${product.processCount()}">
                                    <select th:id="'productAttributeValues' + *{countAttribute} + 'AttributeValuesId'" th:name="'productAttributeValues[' + *{countAttribute} + '].attributeValuesId'" ui-jp="select2" ui-options="{placeholder: 'Select an option', allowClear: true, theme: 'bootstrap'}" style="width: 100%" class="form-control">
                                        <option></option>
                                        <option th:each="attributeValue : ${attribute.attributeValues}" th:value="${attributeValue.id}" th:text="${attributeValue.value}" th:selected="${product.checkProductAttributes(attributeValue)}"></option>
                                    </select>
                                </div>
                                <div class="col-sm-9 row" th:if="${attribute.type} == 'checkbox'">
                                    <div  th:each="attributeValue : ${attribute.attributeValues}" th:id="'attributeValues-' + ${product.processCount()}" class="checkbox col-sm-3">
                                        <label>
                                            <input type="checkbox" th:id="'productAttributeValues' + *{countAttribute} + 'AttributeValuesId'" th:name="'productAttributeValues[' + *{countAttribute} + '].attributeValuesId'" th:value="${attributeValue.id}" th:checked="${product.checkProductAttributes(attributeValue)}"/>
                                            <i class="dark-white"></i>
                                            [[${attributeValue.value}]]
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box">
                        <div class="dker p-a text-right">
                            <button type="submit" class="btn info">Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="modal-image-gallery" class="modal fade animate" data-backdrop="true" aria-hidden="true">
        <div class="modal-dialog zoom modal-lg" id="animate" ui-class="zoom">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Pick Image</h5>
                </div>
                <div class="modal-body" ui-jp='galleryManager'
                     th:attr="ui-options='{modal: true, actionUpload: \''+@{/api/image/upload}+'\', actionLoadImage: \''+@{/api/image/load}+'\', actionDelete: \''+@{/api/image/delete}+'\'}'">

                </div>
            </div><!-- /.modal-content -->
        </div>
    </div>
    <div th:replace="templates/backend/media :: media"></div>
</div>

</body>
</html>