<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:filter="http://thymeleafexamples"
	layout:decorate="templates/backend">
<head>
</head>
<body>

	<div ui-view class="app-body" id="view" layout:fragment="container">
		<div class="padding">
			<ol class="breadcrumb">
				<li class="breadcrumb-item" th:each="breadcrumb : ${breadcrumbs}"><a th:href="@{${breadcrumb[0]}}" th:text="${breadcrumb[1]}"></a></li>
			</ol>
			<div class="box">
				<div class="box-header">
					<h2>
						<a th:href="@{${relativePath}}" th:text="${pageTitle}"></a>
					</h2>
				</div>
				<div class="alert alert-success m-x-lg" th:if="${success} != null">
					<strong>Congratulation!</strong> Process completed.
				</div>
				<div class="alert alert-danger m-x-lg" th:if="${error} != null">
					<strong>Obbs!</strong> [[${error}]].
				</div>
				<div class="row p-a">
					<form th:object="${filterProduct}" th:action="@{${relativePath}}" method="POST">
						<div class="col-sm-3">
							<div class="input-group input-group-sm">
								<select class="form-control" th:field="*{state}">
									<option value="">State...</option>
									<option th:each="state : ${T(onlinemarket.model.NumState).values()}"
											th:value="${state.id}" th:text="${state.name}"></option>
								</select>
							</div>
						</div>
						<div class="col-sm-3"></div>
						<div class="col-sm-3">
							<div class="input-group input-group-sm">
								 <select class="form-control" th:field="*{filterForm.searchBy}">
									<option value="">Search by</option>
									<option value="name">Name</option>
									<option value="brand.name">Brand name</option>
									<option value="productCategory.name">Product Category name</option>
								</select>
							</div>
						</div>
						<div class="col-sm-3">
							<div class="input-group input-group-sm">
								<input class="form-control" placeholder="Search" type="text" th:field="*{filterForm.search}">
								<span class="input-group-btn">
									<button class="btn b-a white" type="submit">Go!</button>
								</span>
							</div>
							<input type="hidden" th:field="*{filterForm.size}" />
							<input type="hidden" th:field="*{filterForm.order}" />
							<input type="hidden" th:field="*{filterForm.orderBy}" />
						</div>
					</form>
				</div>
				<div class="table-responsive">
					<table class="table table-hover b-t">
						<thead>
							<tr>
								<filter:th order="asc" orderBy="id"
									filter:uri="@{${relativePath}}" filter:currentPage="${page}"
									name="#">#</filter:th>
								<th>Image</th>
								<filter:th order="asc" orderBy="name"
									filter:uri="@{${relativePath}}" filter:currentPage="${page}"
									name="Name">Name</filter:th>
								<filter:th order="asc" orderBy="brand"
									filter:uri="@{${relativePath}}" filter:currentPage="${page}"
									name="Brand">Brand</filter:th>
								<filter:th order="asc" orderBy="state"
									filter:uri="@{${relativePath}}" filter:currentPage="${page}"
									name="State">State</filter:th>
								<filter:th order="asc" orderBy="price"
									filter:uri="@{${relativePath}}" filter:currentPage="${page}"
									name="Price">Price</filter:th>
								<filter:th order="asc" orderBy="quantity"
									filter:uri="@{${relativePath}}" filter:currentPage="${page}"
									name="Quantity">Quantity</filter:th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody th:object="${result}">
							<tr th:each="product : *{list}">
								<td th:text="${product.id}"></td>
								<td>
									<span class="w-40">
										<img th:src="${product.featureImage}" class="w-full" alt="...">
									</span>
								</td>
								<td th:text="${product.name}"></td>
								<td th:text="${product.brand.name}"></td>
								<th:block th:each="state : ${T(onlinemarket.model.NumState).values()}">
									<td th:if="${state.id} == ${product.state}" th:text="${state.name}"></td>
								</th:block>
								<td th:if="${product.state} == null">NULL</td>
								<td th:text="${product.price}"></td>
								<td th:text="${product.quantity}"></td>
								<td>
									<form class="form-confirm"
										th:action="@{'/admin/product-category/'+${product.productCategory.id}+'/product/delete'}" method="POST">
										<a th:href="@{'/admin/product-category/'+${product.productCategory.id}+'/product/update/'+${product.id}}" class="btn btn-outline b-info text-success btn-sm">Update</a>
										<input type="hidden" th:name="id" th:value="${product.id}">
										<button type="submit"
											class="btn btn-outline b-info text-danger btn-sm">Delete</button>
									</form>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<footer class="dker p-a">
					<div class="row">
						<div class="col-sm-4 hidden-xs">
							<form th:object="${filterForm}" th:action="@{${relativePath}}"
								method="get">
								<input type="hidden" th:field="*{search}" /> <input
									type="hidden" th:field="*{searchBy}" /> <input type="hidden"
									th:field="*{order}" /> <input type="hidden"
									th:field="*{orderBy}" /> <label class="form-control-label">Show</label>
								<select class="input-sm form-control w-sm inline v-middle"
									th:field="*{size}">
									<option th:value="10">10 rows</option>
									<option th:value="20"
										th:if="${result.totalPages * filterForm.size} > 10">20 rows</option>
									<option th:value="50"
										th:if="${result.totalPages * filterForm.size} > 50">50 rows</option>
								</select>
								<button type="submit" class="btn btn-sm white">Apply</button>
							</form>

						</div>
						<div class="col-sm-4 pull-right text-right text-center-xs">
							<filter:pagination filter:currentPage="${page}"
								filter:totalPages="${result.totalPages}"
								filter:uri="@{${relativePath}}"></filter:pagination>
						</div>
					</div>
				</footer>
			</div>
		</div>
	</div>

</body>
</html>