<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
         xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
         layout:decorate="templates/backend">
<head>
</head>
<body>

<div ui-view class="app-body" id="view" layout:fragment="container">
    <div class="padding">

        <h5 class="_300 margin" th:text="${pageTitle}"></h5>
        <div class="alert alert-success" th:if="${success}">
            <strong>Congratulation!</strong> Process completed.
        </div>
        <div class="row">
            <div class="col-md-9">

                <div class="box">
                    <div class="box-header">
                        <h2 th:text="${subPageTitle}"></h2>
                        <small th:text="${description}"></small>
                    </div>

                    <div class="box-divider m-a-0"></div>

                    <div class="box-body">

                        <form ui-jp="parsley" role="form" th:object="${rating}" th:action="@{${pathAction}}" method="POST">
                            <input th:if="${action} == 'update'" type="hidden" th:field="*{id}" />
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Product Name</label>
                                <div class="col-sm-9">
                                    <input th:errorclass="parsley-error" class="form-control" type="text" th:field="*{product.name}" readonly="readonly" required data-parsley-length="[3, 32]" data-parsley-id="1"/>
                                    <ul class="parsley-errors-list filled" id="parsley-id-1" th:if="${#fields.hasErrors('*{product.name}')}"><li th:errors="*{product.name}"> </li></ul>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">User Name</label>
                                <div class="col-sm-9">
                                    <input th:errorclass="parsley-error" class="form-control" type="text" th:field="*{user.lastName}" readonly="readonly" data-parsley-type="text" required data-parsley-range="[0, 1000000000]" data-parsley-id="2" />
                                    <ul class="parsley-errors-list filled" id="parsley-id-2" th:if="${#fields.hasErrors('*{user.lastName}')}"><li th:errors="*{user.lastName}"> </li></ul>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div>
                                    <label class="col-sm-3 form-control-label">Rating</label>
                                    <div class="col-sm-9">
                                    &nbsp;&nbsp;&nbsp; Bad&nbsp;
                                    <input value="1" name="rating" type="radio"  th:field="*{score}">
                                    &nbsp;
                                    <input value="2" name="rating" type="radio" th:field="*{score}">
                                    &nbsp;
                                    <input value="3" name="rating" type="radio" th:field="*{score}">
                                    &nbsp;
                                    <input value="4" name="rating" type="radio" th:field="*{score}">
                                    &nbsp;
                                    <input value="5" name="rating" type="radio" th:field="*{score}">
                                    &nbsp;Good
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">Content</label>
                                <div class="col-sm-9">
                                    <textarea th:errorclass="parsley-error" class="form-control"
                                              th:field="*{content}" data-parsley-length="[50, 1000]"
                                              data-parsley-id="description"></textarea>
                                    <ul class="parsley-errors-list filled" id="parsley-id-description"
                                        th:if="${#fields.hasErrors('${rating.content}')}">
                                        <li th:errors="*{content}"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 form-control-label">State</label>
                                <div class="col-sm-3">
                                    <select th:field="*{state}" class="form-control" data-parsley-id="4" required>
                                        <option value="">Please choice</option>
                                        <option value="Active">Active</option>
                                        <option value="Inactive">Inactive</option>
                                    </select>
                                    <ul class="parsley-errors-list filled"
                                        th:if="${#fields.hasErrors('state')}">
                                        <li th:errors="*{state}"></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="dker p-a text-right">
                                <button type="submit" class="btn info">Save</button>
                            </div>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

</body>
</html>