<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:filter="http://thymeleafexamples"
      layout:decorate="templates/frontend">

<th:block layout:fragment="head">

</th:block>
<!--/*@thymesVar id="productCategory" type="OnlineMarket.model.ProductCategory"*/-->
<!--/*@thymesVar id="currentUser" type="OnlineMarket.model.User"*/-->
<!--/*@thymesVar id="breadcrumbs" type="java.lang.String[]"*/-->
<!--/*@thymesVar id="relativePath" type="java.lang.String"*/-->
<!--/*@thymesVar id="result" type="OnlineMarket.result.ResultObject<OnlineMarket.model.Product>"*/-->

<head>
</head>
<body th:inline="text">

<div id="container" layout:fragment="container">
    <div class="container">
        <!-- Breadcrumb Start-->
        <ul class="breadcrumb">
            <li class="breadcrumb-item" th:each="breadcrumb : ${breadcrumbs}"><a th:href="@{${breadcrumb[0]}}"
                                                                                 th:text="${breadcrumb[1]}"></a></li>
        </ul>
        <!-- Breadcrumb End-->
        <h1 class="title" th:text="${title}">Product Comparison</h1>
        <div class="row">
            <div id="content" class="col-sm-12">
                <div class="col-sm-4"></div>
                <div class="col-sm-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><i class="fa fa-shopping-cart"></i> Shopping cart</h4>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <div class="simpleCart_items table table-responsive">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>