<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="templates/frontend">


<!--/*@thymesVar id="productCategoryList" type="java.util.List<OnlineMarket.model.ProductCategory>"*/-->
<!--/*@thymesVar id="brandList" type="java.util.List<OnlineMarket.model.Brand>"*/-->
<!--/*@thymesVar id="breadcrumbs" type="java.lang.String[]"*/-->
<!--/*@thymesVar id="relativePath" type="java.lang.String"*/-->
<!--/*@thymesVar id="event" type="OnlineMarket.model.Event"*/-->
<!--/*@thymesVar id="currentUser" type="OnlineMarket.model.User"*/-->
<head>
</head>
<body th:inline="text">

<div id="container" layout:fragment="container">
    <div class="container">
        <!-- Breadcrumb Start-->
        <ul class="breadcrumb">
            <li class="breadcrumb-item" th:each="breadcrumb : ${breadcrumbs}"><a th:href="@{${breadcrumb[0]}}"
                                                                                 th:text="${breadcrumb[1]}"></a></li>
        </ul>
        <!-- Breadcrumb End-->
        <div class="row" th:object="${event}">
            <!--Middle Part Start-->
            <div id="content" class="box">
                <div class="item">
                    <img th:src="@{*{featureImage}}" class="h-v-5 w-full" />
                </div>
                <div class="p-a-md">
                    <h1 class="title" th:text="*{name}">About Us</h1>
                    <div class="content">
                        <code th:if="${event.code != null && event.show}" class="center-block h2 p-a-md text-center w-lg w-xl" th:text="*{code}">xHfjuak0QNyt</code>
                        <th:block th:utext="*{content}"> </th:block>
                    </div>
                    <p class="lead">
                        by <a href="#" th:text="*{publisher.displayName}">Start Bootstrap</a> Posted on <th:block th:text="${#dates.format(event.createDate, 'MMMM dd, yyyy - hh:mm a')}">Posted on January 1, 2018 at 12:00 PM</th:block>
                        <a sec:authorize="hasAnyRole('ADMIN', 'SUPER_ADMIN')" th:href="@{'/admin/event/update/'+ *{id}}">Edit</a>
                    </p>
                </div>
            </div>
            <!--Middle Part End -->
        </div>
    </div>
</div>
</body>
</html>