<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:filter="http://thymeleafexamples"
      layout:decorate="templates/frontend">

<th:object layout:fragment="head">

</th:object>
<!--/*@thymesVar id="productCategoryList" type="java.util.List<onlinemarket.model.ProductCategory>"*/-->
<!--/*@thymesVar id="productBestSellerList" type="java.util.List<onlinemarket.model.Product>"*/-->
<!--/*@thymesVar id="productBestViewing" type="java.util.List<onlinemarket.model.Product>"*/-->
<!--/*@thymesVar id="productBestRating" type="java.util.List<onlinemarket.model.Product>"*/-->
<!--/*@thymesVar id="brandList" type="java.util.List<onlinemarket.model.Brand>"*/-->
<!--/*@thymesVar id="productCategory" type="onlinemarket.model.ProductCategory"*/-->
<!--/*@thymesVar id="breadcrumbs" type="java.lang.String[]"*/-->
<!--/*@thymesVar id="relativePath" type="java.lang.String"*/-->
<!--/*@thymesVar id="productPath" type="java.lang.String"*/-->
<!--/*@thymesVar id="brandPath" type="java.lang.String"*/-->
<!--/*@thymesVar id="subTitle" type="java.lang.String"*/-->
<!--/*@thymesVar id="result" type="onlinemarket.result.ResultObject<onlinemarket.model.Event>"*/-->
<!--/*@thymesVar id="filterForm" type="onlinemarket.form.filter.FilterForm"*/-->
<head>
</head>
<body th:inline="text">

<div id="container" layout:fragment="container">
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item" th:each="breadcrumb : ${breadcrumbs}"><a th:href="@{${breadcrumb[0]}}"
                                                                                 th:text="${breadcrumb[1]}"></a></li>
        </ul>
        <div class="row">
            <aside id="column-left" class="col-sm-3 hidden-xs">

                <h3>Best seller</h3>
                <div class="side-item">
                    <div class="product-thumb clearfix" th:each="productBest : ${productBestSellerList}">
                        <div class="image"><a th:href="@{'/product/'+${productBest.slug}}"><img
                                th:src="@{${productBest.featureImage}}" class="img-responsive"/></a></div>
                        <div class="caption">
                            <h4><a th:href="@{'/product/'+${productBest.slug}}" th:alt="${productBest.name}" th:text="${productBest.name}"></a></h4>
                            <p class="price"><span class="price-new" th:text="${productBest.newPriceStr}"></span>
                                <span class="price-old" th:if="${productBest.sale != ''}"
                                      th:text="${productBest.priceStr}"></span> <span th:if="${productBest.sale != ''}"
                                                                                      class="saving"
                                                                                      th:text="${productBest.sale}"></span>
                            <div class="rating">
                                            <span class="fa fa-stack" th:each="number : ${#numbers.sequence(1, 5)}">
                                                <i th:if="${productBest.ratingStatistic != null && productBest.ratingStatistic.averageScore > number}" class="fa fa-star fa-stack-2x"></i>
                                                <i class="fa fa-star-o fa-stack-2x"></i>
                                            </span>
                            </div>
                            </p>
                        </div>
                    </div>
                </div>
                <h3>Best viewing</h3>
                <div class="side-item">
                    <div class="product-thumb clearfix" th:each="productBest : ${productBestViewing}">
                        <div class="image"><a th:href="@{'/product/'+${productBest.slug}}"><img
                                th:src="@{${productBest.featureImage}}" class="img-responsive"/></a></div>
                        <div class="caption">
                            <h4><a th:href="@{'/product/'+${productBest.slug}}" th:alt="${productBest.name}" th:text="${productBest.name}"></a></h4>
                            <p class="price"><span class="price-new" th:text="${productBest.newPriceStr}"></span>
                                <span class="price-old" th:if="${productBest.sale != ''}"
                                      th:text="${productBest.priceStr}"></span> <span th:if="${productBest.sale != ''}"
                                                                                      class="saving"
                                                                                      th:text="${productBest.sale}"></span>
                            <div class="rating">
                                            <span class="fa fa-stack" th:each="number : ${#numbers.sequence(1, 5)}">
                                                <i th:if="${productBest.ratingStatistic != null && productBest.ratingStatistic.averageScore > number}" class="fa fa-star fa-stack-2x"></i>
                                                <i class="fa fa-star-o fa-stack-2x"></i>
                                            </span>
                            </div>
                            </p>
                        </div>
                    </div>
                </div>
                <h3>Best Rating</h3>
                <div class="side-item">
                    <div class="product-thumb clearfix" th:each="productBest : ${productBestRating}">
                        <div class="image"><a th:href="@{'/product/'+${productBest.slug}}"><img
                                th:src="@{${productBest.featureImage}}" class="img-responsive"/></a></div>
                        <div class="caption">
                            <h4><a th:href="@{'/product/'+${productBest.slug}}" th:alt="${productBest.name}" th:text="${productBest.name}"></a></h4>
                            <p class="price"><span class="price-new" th:text="${productBest.newPriceStr}"></span>
                                <span class="price-old" th:if="${productBest.sale != ''}"
                                      th:text="${productBest.priceStr}"></span> <span th:if="${productBest.sale != ''}"
                                                                                      class="saving"
                                                                                      th:text="${productBest.sale}"></span>
                            <div class="rating">
                                            <span class="fa fa-stack" th:each="number : ${#numbers.sequence(1, 5)}">
                                                <i th:if="${productBest.ratingStatistic != null && productBest.ratingStatistic.averageScore > number}" class="fa fa-star fa-stack-2x"></i>
                                                <i class="fa fa-star-o fa-stack-2x"></i>
                                            </span>
                            </div>
                            </p>
                        </div>
                    </div>
                </div>
            </aside>
            <div id="content" class="col-sm-9">
                <h1 class="title" th:text="${title}">All product</h1>
                <h3 class="subtitle" th:text="${subTitle}"></h3>

                <div class="row" th:each="event : ${result.list}">
                    <div class="span8">
                        <div class="row">
                            <div class="span8">
                                <h4><strong><a th:href="@{'/eveny/'+${event.id}}" th:title="${event.name}" th:text="${event.name}">Title of the post</a></strong></h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span2">
                                <a th:href="@{'/event/'+${event.id}}" class="thumbnail">
                                    <img th:if="${event.featureImage != null}" th:src="@{${event.featureImage}}" alt="">
                                    <img th:if="${event.featureImage == null}" th:src="@{/assets/images/defaultImage.jpg}" alt="">
                                </a>
                            </div>
                            <div class="span6">
                                <p><a class="btn" th:href="@{'/event/'+${event.id}}" >Read more</a></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="span8">
                                <p></p>
                                <p>
                                    <i class="icon-user"></i> by <a href="#" th:text="${event.publisher.firstName}">John</a>
                                    <th:block th:text="${#dates.format(event.createDate, 'MMMM dd, yyyy - hh:mm a')}">Posted on January 1, 2018 at 12:00 PM</th:block>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-sm-6 text-left">
                        <filter:pagination filter:currentPage="${page}"
                                           filter:totalPages="${result.totalPages}"
                                           filter:uri="@{${relativePath}}"></filter:pagination>
                    </div>
                    <div class="col-sm-6 text-right"
                         th:with="productFrom=${result.getCurrentPage()*filterForm.size +1 - filterForm.size},productTo=${result.getCurrentPage()*filterForm.size}"
                         th:text="${'Showing '+ productFrom +' to '+ productTo +' ('+result.totalPages+' pages)'}">
                        Showing 1 to 12 of 15 (2 Pages)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>