<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:filter="http://thymeleafexamples"
      layout:decorate="templates/frontend">

<!--/*@thymesVar id="productCategoryList" type="java.util.List<OnlineMarket.model.ProductCategory>"*/-->
<!--/*@thymesVar id="productBestSellerList" type="java.util.List<OnlineMarket.model.Product>"*/-->
<!--/*@thymesVar id="productBestViewing" type="java.util.List<OnlineMarket.model.Product>"*/-->
<!--/*@thymesVar id="productBestRating" type="java.util.List<OnlineMarket.model.Product>"*/-->
<!--/*@thymesVar id="brandList" type="java.util.List<OnlineMarket.model.Brand>"*/-->
<!--/*@thymesVar id="productCategory" type="OnlineMarket.model.ProductCategory"*/-->
<!--/*@thymesVar id="breadcrumbs" type="java.lang.String[]"*/-->
<!--/*@thymesVar id="relativePath" type="java.lang.String"*/-->
<!--/*@thymesVar id="productPath" type="java.lang.String"*/-->
<!--/*@thymesVar id="brandPath" type="java.lang.String"*/-->
<!--/*@thymesVar id="subTitle" type="java.lang.String"*/-->
<!--/*@thymesVar id="result" type="OnlineMarket.result.ResultObject<OnlineMarket.model.Event>"*/-->
<!--/*@thymesVar id="filterForm" type="OnlineMarket.form.filter.FilterForm"*/-->
<head>
</head>
<body th:inline="text">

<div id="container" layout:fragment="container">
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item" th:each="breadcrumb : ${breadcrumbs}"><a th:href="@{${breadcrumb[0]}}"
                                                                                 th:text="${breadcrumb[1]}"></a></li>
        </ul>
        <div class="row">
            <aside id="column-left" class="col-sm-3 hidden-xs">
                <th:block th:replace="/templates/aside::aside"></th:block>
            </aside>
            <div id="content" class="col-sm-9">
                <h1 class="title" th:text="${title}">All product</h1>
                <h3 class="subtitle" th:text="${subTitle}"></h3>
                <div th:each="event : ${result.list}" class="row">
                    <div class="col-md-12 post">
                        <div class="row">
                            <div class="col-md-12"><h4><strong><a th:href="@{'/event/'+${event.id}}"
                                                                  th:title="${event.name}" th:text="${event.name}">Title
                                of the post</a></strong></h4></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 post-header-line">
                                <span class="glyphicon glyphicon-user"></span>by <a href="#"
                                                                                    th:text="${event.publisher.firstName}">Bhaumik</a>
                                | <span class="glyphicon glyphicon-calendar">
                            </span>
                                <th:block th:text="${#dates.format(event.createDate, 'MMMM dd, yyyy - hh:mm a')}">
                                    Posted on January 1, 2018 at 12:00 PM
                                </th:block>
                            </div>
                        </div>
                        <div class="row post-content">
                            <div class="col-md-5">
                                <a th:href="@{'/event/'+${event.id}}" class="thumbnail">
                                    <img th:if="${event.featureImage != null}" th:src="@{${event.featureImage}}"
                                         alt="" class="img-responsive">
                                    <img th:if="${event.featureImage == null}"
                                         th:src="@{/assets/images/defaultImage.jpg}" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-md-7">
                                <p th:utext="${#strings.abbreviate(T(org.jsoup.Jsoup).parse(event.content).text(),150)}"></p>
                                <p><a class="btn btn-read-more" th:href="@{'/event/'+${event.id}}">Read more</a></p>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row padding">
                    <div class="col-sm-6 text-left">
                        <filter:pagination

                                           filter:uri="@{${relativePath}}"></filter:pagination>
                    </div>
                    <div class="col-sm-6 text-right"
                         th:with="productFrom=${result.getCurrentPage()*filterForm.size +1 - filterForm.size},productTo=${result.getCurrentPage()*filterForm.size}"
                         th:text="${'Showing '+ productFrom +' to '+ productTo +' ('+result.totalPages+' pages)'}">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>