<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="templates/frontend">
<head>
</head>
<body>

  <div id="container" class="container" layout:fragment="container">
    <div class="row">
        <aside id="column-left" class="col-sm-3 hidden-xs">
            <h3 class="subtitle"><a th:href="@{${relativePath}}">Categories</a></h3>
            <div class="box-category">
                <ul id="cat_accordion">
                    <li class="cutom-parent-li" th:each="productCate : ${productCategoryList}">
                        <a th:href="@{'/product-category/'+${productCate.slug}}"
                           th:classappend="${productCategory != null && productCate.slug == productCategory.slug ? 'active' : ''}"
                           class="cutom-parent"
                           th:text="${productCate.name}+' ('+${productCate.products.size()}+')'"></a></span>
                    </li>
                </ul>
            </div>
            <h3>Best seller</h3>
            <div class="side-item">
                <div class="product-thumb clearfix" th:each="productBest : ${productBestSellerList}">
                    <div class="image"><a th:href="@{'/product/'+${productBest.slug}}"><img
                            th:src="@{${productBest.featureImage}}" class="img-responsive"/></a></div>
                    <div class="caption">
                        <h4><a th:href="@{'/product/'+${productBest.slug}}" th:alt="${productBest.name}" th:text="${productBest.name}"></a></h4>
                        <p class="price"><span class="price-new" th:text="${productBest.newPriceStr}"></span>
                            <span class="price-old" th:if="${productBest.sale != ''}"
                                  th:text="${productBest.priceStr}"></span> <span th:if="${productBest.sale != ''}"
                                                                                  class="saving"
                                                                                  th:text="${productBest.sale}"></span>
                        <div class="rating">
                                            <span class="fa fa-stack" th:each="number : ${#numbers.sequence(1, 5)}">
                                                <i th:if="${productBest.ratingStatistic != null && productBest.ratingStatistic.averageScore > number}" class="fa fa-star fa-stack-2x"></i>
                                                <i class="fa fa-star-o fa-stack-2x"></i>
                                            </span>
                        </div>
                        </p>
                    </div>
                </div>
            </div>
            <h3>Best viewing</h3>
            <div class="side-item">
                <div class="product-thumb clearfix" th:each="productBest : ${productBestViewing}">
                    <div class="image"><a th:href="@{'/product/'+${productBest.slug}}"><img
                            th:src="@{${productBest.featureImage}}" class="img-responsive"/></a></div>
                    <div class="caption">
                        <h4><a th:href="@{'/product/'+${productBest.slug}}" th:alt="${productBest.name}" th:text="${productBest.name}"></a></h4>
                        <p class="price"><span class="price-new" th:text="${productBest.newPriceStr}"></span>
                            <span class="price-old" th:if="${productBest.sale != ''}"
                                  th:text="${productBest.priceStr}"></span> <span th:if="${productBest.sale != ''}"
                                                                                  class="saving"
                                                                                  th:text="${productBest.sale}"></span>
                        <div class="rating">
                                            <span class="fa fa-stack" th:each="number : ${#numbers.sequence(1, 5)}">
                                                <i th:if="${productBest.ratingStatistic != null && productBest.ratingStatistic.averageScore > number}" class="fa fa-star fa-stack-2x"></i>
                                                <i class="fa fa-star-o fa-stack-2x"></i>
                                            </span>
                        </div>
                        </p>
                    </div>
                </div>
            </div>
            <h3>Best Rating</h3>
            <div class="side-item">
                <div class="product-thumb clearfix" th:each="productBest : ${productBestRating}">
                    <div class="image"><a th:href="@{'/product/'+${productBest.slug}}"><img
                            th:src="@{${productBest.featureImage}}" class="img-responsive"/></a></div>
                    <div class="caption">
                        <h4><a th:href="@{'/product/'+${productBest.slug}}" th:alt="${productBest.name}" th:text="${productBest.name}"></a></h4>
                        <p class="price"><span class="price-new" th:text="${productBest.newPriceStr}"></span>
                            <span class="price-old" th:if="${productBest.sale != ''}"
                                  th:text="${productBest.priceStr}"></span> <span th:if="${productBest.sale != ''}"
                                                                                  class="saving"
                                                                                  th:text="${productBest.sale}"></span>
                        <div class="rating">
                                            <span class="fa fa-stack" th:each="number : ${#numbers.sequence(1, 5)}">
                                                <i th:if="${productBest.ratingStatistic != null && productBest.ratingStatistic.averageScore > number}" class="fa fa-star fa-stack-2x"></i>
                                                <i class="fa fa-star-o fa-stack-2x"></i>
                                            </span>
                        </div>
                        </p>
                    </div>
                </div>
            </div>
        </aside>
        <div id="content" class="col-sm-9">
            <!--/*@thymesVar id="resultObjectList" type="java.util.Map<onlinemarket.model.ProductCategory, onlinemarket.result.ResultObject<onlinemarket.model.Product>>"*/-->
            <th:block th:each="instance : ${resultObjectList}">
            <h3 class="subtitle"><a th:href="@{'/product-category/'+${instance.key.slug}}" th:text="${instance.key.name}"></a></h3>
            <div class="owl-carousel product_carousel">
                <div class="product-thumb clearfix" th:each="product : ${instance.value.list}">
                    <div class="image"><a th:href="@{'/product/'+${product.slug}}"><img
                            th:src="@{${product.featureImage}}" class="img-responsive"/></a></div>
                    <div>
                        <div class="caption">
                            <h4><a th:href="@{'/product/'+${product.slug}}" data-toggle="tooltip" th:title="${product.name}" th:text="${product.name}"></a></h4>
                            <p th:if="${product.events.size() > 0}" class="description">
                                <b>Sales</b><br>
                                <th:block th:each="event : ${product.events}">
                                    <a th:if="${event.maxPrice > product.price && event.getMinPrice() < product.price}"
                                       th:href="@{'/event/'+${event.id}}" th:text="${event.name}"></a><br>
                                </th:block>
                            </p>
                            <p class="price"><span class="price-new" th:text="${product.newPriceStr}"></span>
                                <span class="price-old" th:if="${product.sale != ''}"
                                      th:text="${product.priceStr}"></span> <span th:if="${product.sale != ''}"
                                                                                  class="saving"
                                                                                  th:text="${product.sale}"></span>
                            </p>
                            <div class="rating">
                                        <span class="fa fa-stack" th:each="number : ${#numbers.sequence(1, 5)}">
                                            <i th:if="${product.ratingStatistic != null && product.ratingStatistic.averageScore > number}" class="fa fa-star fa-stack-2x"></i>
                                            <i class="fa fa-star-o fa-stack-2x"></i>
                                        </span>
                            </div>
                        </div>
                        <div class="button-group">
                            <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span>
                            </button>
                            <div class="add-to-links">
                                <button type="button" data-toggle="tooltip" title="Compare this Product"
                                        onClick=""><i class="fa fa-exchange"></i>
                                    <span>Compare this Product</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </th:block>

        </div>
    </div>
  </div>

</body>
</html>