<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="templates/frontend">
<head>
</head>
<body>

<div id="container" class="container" layout:fragment="container">
    <div class="row">
        <aside id="column-left" class="col-sm-3 hidden-xs">
            <h3 class="subtitle"><a th:href="@{/product-category}">Categories</a></h3>
            <div class="box-category">
                <ul id="cat_accordion">
                    <li class="cutom-parent-li" th:each="productCate : ${productCategoryList}">
                          <span><a th:href="@{'/product-category/'+${productCate.slug}}" class="cutom-parent"
                                   th:text="${productCate.name}+' ('+${productCate.products.size()}+')'"></a></span>
                    </li>
                </ul>
            </div>
            <th:block th:include="/templates/aside::aside"></th:block>
        </aside>
        <div id="content" class="col-sm-9">
            <div class="slideshow single-slider owl-carousel">
                <div class="item" th:each="event : ${eventList}">
                    <a th:href="@{'/event/'+${event.id}}">
                        <img th:if="${event.featureImage}" th:src="@{${event.featureImage}}" th:alt="${event.name}"
                             class="w-full">
                        <img th:unless="${event.featureImage}" th:src="@{/assets/images/defaultImage.jpg}"
                             alt="..." class="w-full">
                    </a>
                </div>
            </div>
            <div class="category-module" th:each="instance : ${resultObjectList}">
                <h3 class="subtitle"><a th:href="@{'/product-category/'+${instance.key.slug}}"
                                        th:text="${instance.key.name}"></a></h3>
                <div class="owl-carousel product_carousel">
                    <th:block th:each="product : ${instance.value.list}">
                        <div th:replace="/templates/item::productGrid (${product})"></div>
                    </th:block>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>