<!DOCTYPE html>
<html 	xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="templates/frontend">
<head>
</head>
<body>

<div id="container" layout:fragment="container">
    <div class="container">
        <!-- Breadcrumb Start-->
        <ul class="breadcrumb">
            <li class="breadcrumb-item" th:each="breadcrumb : ${breadcrumbs}"><a th:href="@{${breadcrumb[0]}}"
                                                                                 th:text="${breadcrumb[1]}"></a></li>
        </ul>
        <!-- Breadcrumb End-->
      <div class="row">
        <!--Middle Part Start-->
        <div id="content" class="col-sm-9">
          <h1 class="title">Account Login</h1>
          	<div class="alert alert-success" role="alert" th:if="${param.success} != null">
				<strong>Congratulations!</strong> You have successfully registered your account, you are now able to login.
			</div>
			<div class="alert alert-success" role="alert" th:if="${param.logout} != null">
					<strong>Congratulations!</strong> You have successfully logged out.
			</div>
			<div class="alert alert-warning" th:if="${param.error} != null">
				<strong>OOPS!</strong> Email or password is invalid!
			</div>
          <div class="row">
            <div class="col-sm-6">
              <h2 class="subtitle">New Customer</h2>
              <p><strong>Register Account</strong></p>
              <p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</p>
              <a th:href="@{/register}" class="btn btn-primary">Continue</a> </div>
            <div class="col-sm-6">
              <h2 class="subtitle">Start Login</h2>
              <p><strong>Iam a Smart Market customer</strong></p>
              

              	<form th:action="@{/login}" method="post">
	                <div class="form-group">
	                  <label class="control-label" for="input-email">E-Mail Address</label>
	                  <input type="text" name="email" value="" placeholder="E-Mail Address" id="input-email" class="form-control" />
	                </div>
	                <div class="form-group">
	                  <label class="control-label" for="input-password">Password</label>
	                  <input type="password" name="password" value="" placeholder="Password" id="input-password" class="form-control" />
	                  <br />
	                  <p>
					      <label>
					        <input name="remember-me" type="checkbox">
					        Remember me
					      </label>
	                  </p>
	                  <a href="#">Forgotten Password</a>
                    </div>
	                <input type="submit" value="Login" class="btn btn-primary" />
                </form>
            </div>
          </div>
        </div>
        <!--Middle Part End -->
        <!--Right Part Start -->
          <aside id="column-right" class="col-sm-3 hidden-xs">
              <h3 class="subtitle"><a th:href="@{${relativePath}}">Categories</a></h3>
              <div class="box-category">
                  <ul id="cat_accordion">
                      <li class="cutom-parent-li" th:each="productCate : ${productCategoryList}">
                          <a th:href="@{'/product-category/'+${productCate.slug}}"
                             th:classappend="${productCategory != null && productCate.slug == productCategory.slug ? 'active' : ''}"
                             class="cutom-parent"
                             th:text="${productCate.name}+' ('+${productCate.products.size()}+')'"></a></span>
                      </li>
                  </ul>
              </div>
              <h3>Best seller</h3>
              <div class="side-item">
                  <div class="product-thumb clearfix" th:each="productBest : ${productBestSellerList}">
                      <div class="image"><a th:href="@{'/product/'+${productBest.slug}}"><img
                              th:src="@{${productBest.featureImage}}" class="img-responsive"/></a></div>
                      <div class="caption">
                          <h4><a th:href="@{'/product/'+${productBest.slug}}" th:alt="${productBest.name}" th:text="${productBest.name}"></a></h4>
                          <p class="price"><span class="price-new" th:text="${productBest.newPriceStr}"></span>
                              <span class="price-old" th:if="${productBest.sale != ''}"
                                    th:text="${productBest.priceStr}"></span> <span th:if="${productBest.sale != ''}"
                                                                                    class="saving"
                                                                                    th:text="${productBest.sale}"></span>
                          <div class="rating">
                                            <span class="fa fa-stack" th:each="number : ${#numbers.sequence(1, 5)}">
                                                <i th:if="${productBest.ratingStatistic != null && productBest.ratingStatistic.averageScore > number}" class="fa fa-star fa-stack-2x"></i>
                                                <i class="fa fa-star-o fa-stack-2x"></i>
                                            </span>
                          </div>
                          </p>
                      </div>
                  </div>
              </div>
              <h3>Best viewing</h3>
              <div class="side-item">
                  <div class="product-thumb clearfix" th:each="productBest : ${productBestViewing}">
                      <div class="image"><a th:href="@{'/product/'+${productBest.slug}}"><img
                              th:src="@{${productBest.featureImage}}" class="img-responsive"/></a></div>
                      <div class="caption">
                          <h4><a th:href="@{'/product/'+${productBest.slug}}" th:alt="${productBest.name}" th:text="${productBest.name}"></a></h4>
                          <p class="price"><span class="price-new" th:text="${productBest.newPriceStr}"></span>
                              <span class="price-old" th:if="${productBest.sale != ''}"
                                    th:text="${productBest.priceStr}"></span> <span th:if="${productBest.sale != ''}"
                                                                                    class="saving"
                                                                                    th:text="${productBest.sale}"></span>
                          <div class="rating">
                                            <span class="fa fa-stack" th:each="number : ${#numbers.sequence(1, 5)}">
                                                <i th:if="${productBest.ratingStatistic != null && productBest.ratingStatistic.averageScore > number}" class="fa fa-star fa-stack-2x"></i>
                                                <i class="fa fa-star-o fa-stack-2x"></i>
                                            </span>
                          </div>
                          </p>
                      </div>
                  </div>
              </div>
              <h3>Best Rating</h3>
              <div class="side-item">
                  <div class="product-thumb clearfix" th:each="productBest : ${productBestRating}">
                      <div class="image"><a th:href="@{'/product/'+${productBest.slug}}"><img
                              th:src="@{${productBest.featureImage}}" class="img-responsive"/></a></div>
                      <div class="caption">
                          <h4><a th:href="@{'/product/'+${productBest.slug}}" th:alt="${productBest.name}" th:text="${productBest.name}"></a></h4>
                          <p class="price"><span class="price-new" th:text="${productBest.newPriceStr}"></span>
                              <span class="price-old" th:if="${productBest.sale != ''}"
                                    th:text="${productBest.priceStr}"></span> <span th:if="${productBest.sale != ''}"
                                                                                    class="saving"
                                                                                    th:text="${productBest.sale}"></span>
                          <div class="rating">
                                            <span class="fa fa-stack" th:each="number : ${#numbers.sequence(1, 5)}">
                                                <i th:if="${productBest.ratingStatistic != null && productBest.ratingStatistic.averageScore > number}" class="fa fa-star fa-stack-2x"></i>
                                                <i class="fa fa-star-o fa-stack-2x"></i>
                                            </span>
                          </div>
                          </p>
                      </div>
                  </div>
              </div>
          </aside>
        <!--Right Part End -->
      </div>
    </div>
</div>

</body>
</html>