<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:filter="http://thymeleafexamples"
      layout:decorate="templates/frontend">

<th:block layout:fragment="head">

</th:block>
<!--/*@thymesVar id="postCategoryList" type="java.util.List<OnlineMarket.model.PostCategory>"*/-->
<!--/*@thymesVar id="postCategory" type="OnlineMarket.model.PostCategory"*/-->
<!--/*@thymesVar id="breadcrumbs" type="java.lang.String[]"*/-->
<!--/*@thymesVar id="relativePath" type="java.lang.String"*/-->
<!--/*@thymesVar id="subTitle" type="java.lang.String"*/-->
<!--/*@thymesVar id="result" type="OnlineMarket.result.ResultObject<OnlineMarket.model.Post>"*/-->
<!--/*@thymesVar id="filterForm" type="OnlineMarket.form.filter.FilterForm"*/-->
<head>
</head>
<body th:inline="text">

<div id="container" layout:fragment="container">
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item" th:each="breadcrumb : ${breadcrumbs}"><a th:href="@{${breadcrumb[0]}}"
                                                                                 th:text="${breadcrumb[1]}"></a></li>
        </ul>
        <div class="row">
            <aside id="column-left" class="col-sm-3 hidden-xs">
                <h3 class="subtitle"><a th:href="@{/product-category}">Categories</a></h3>
                <div class="box-category">
                    <ul id="cat_accordion">
                        <li class="cutom-parent-li" th:each="postCate : ${postCategoryList}">
                          <span><a th:href="@{'/post-category/'+${postCate.slug}}" class="cutom-parent"
                                   th:text="${postCate.name}+' ('+${postCate.posts.size()}+')'"></a></span>
                        </li>
                    </ul>
                </div>
            </aside>
            <div id="content" class="col-sm-9">
                <h1 class="title" th:text="${title}">All product</h1>
                <h3 class="subtitle" th:text="${subTitle}"></h3>

                <div class="row" th:each="postC : ${result.list}">
                    <div class="col-md-12 post">
                        <div class="row">
                            <div class="col-md-12"><h4><strong><a th:href="@{'/post/'+${postC.slug}}"
                                                                  th:title="${postC.title}" th:text="${postC.title}">Title
                                of the post</a></strong></h4></div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 post-header-line">
                                <span class="glyphicon glyphicon-user"></span>by <a href="#"
                                                                                    th:text="${postC.user.displayName}">Bhaumik</a>
                                | <span class="glyphicon glyphicon-calendar">
                            </span>
                                <th:block th:text="${#dates.format(postC.createDate, 'MMMM dd, yyyy - hh:mm a')}">
                                    Posted on January 1, 2018 at 12:00 PM
                                </th:block>&nbsp;|
                                <span class="glyphicon glyphicon-tags"></span>
                                <a th:if="${postC.postCategory} != null" th:href="@{'/post-category/'+${postC.postCategory.slug}}"><span class="label label-info" th:text="${postC.postCategory.name}">Bootstrap</span></a>
                            </div>
                        </div>
                        <div class="row post-content">
                            <div class="col-md-5">
                                <a th:href="@{'/post/'+${postC.slug}}" class="thumbnail">
                                    <img th:if="${postC.featureImage != null}" th:src="@{${postC.featureImage}}"
                                         alt="" class="img-responsive">
                                    <img th:if="${postC.featureImage == null}"
                                         th:src="@{/assets/images/defaultImage.jpg}" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="col-md-7">
                                <p th:utext="${#strings.abbreviate(T(org.jsoup.Jsoup).parse(postC.content).text(),300)}"></p>
                                <p><a class="btn btn-read-more" th:href="@{'/post/'+${postC.slug}}">Read more</a></p>
                            </div>
                        </div>
                    </div>

                </div>
                <hr>

                <div class="row">
                    <div class="col-sm-6 text-left">
                        <filter:pagination filter:uri="@{${relativePath}}"> </filter:pagination>
                    </div>
                    <div class="col-sm-6 text-right"
                         th:with="productFrom=${result.getCurrentPage()*filterForm.size +1 - filterForm.size},productTo=${result.getCurrentPage()*filterForm.size}"
                         th:text="${'Showing '+ productFrom +' to '+ productTo +' ('+result.totalPages+' pages)'}">
                        Showing 1 to 12 of 15 (2 Pages)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>