<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:filter="http://thymeleafexamples"
      layout:decorate="templates/frontend">
<!--/*@thymesVar id="productCategoryList" type="java.util.List<OnlineMarket.model.ProductCategory>"*/-->
<!--/*@thymesVar id="productBestSellerList" type="java.util.List<OnlineMarket.model.Product>"*/-->
<!--/*@thymesVar id="productBestViewing" type="java.util.List<OnlineMarket.model.Product>"*/-->
<!--/*@thymesVar id="productBestRating" type="java.util.List<OnlineMarket.model.Product>"*/-->
<!--/*@thymesVar id="brandList" type="java.util.List<OnlineMarket.model.Brand>"*/-->
<!--/*@thymesVar id="productCategory" type="OnlineMarket.model.ProductCategory"*/-->
<!--/*@thymesVar id="brand" type="OnlineMarket.model.Brand"*/-->
<!--/*@thymesVar id="breadcrumbs" type="java.lang.String[]"*/-->
<!--/*@thymesVar id="relativePath" type="java.lang.String"*/-->
<!--/*@thymesVar id="title" type="java.lang.String"*/-->
<!--/*@thymesVar id="productPath" type="java.lang.String"*/-->
<!--/*@thymesVar id="brandPath" type="java.lang.String"*/-->
<!--/*@thymesVar id="subTitle" type="java.lang.String"*/-->
<!--/*@thymesVar id="result" type="OnlineMarket.result.ResultObject<OnlineMarket.model.Product>"*/-->
<!--/*@thymesVar id="filterForm" type="OnlineMarket.form.filter.FilterForm"*/-->
<!--/*@thymesVar id="brandPage" type="boolean"*/-->
<head>
</head>
<body th:inline="text">

<div id="container" layout:fragment="container">
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item" th:each="breadcrumb : ${breadcrumbs}"><a th:href="@{${breadcrumb[0]}}"
                                                                                 th:text="${breadcrumb[1]}"></a></li>
        </ul>
        <div class="row">
            <aside id="column-left" class="col-sm-3 hidden-xs">
                <th:block th:if="${!brandPage}" >
                    <h3 class="subtitle"><a th:href="@{/product-category}">Categories</a></h3>
                    <div class="box-category">
                        <ul id="cat_accordion">
                            <li class="cutom-parent-li" th:each="productCate : ${productCategoryList}">
                            <span><a th:href="@{${productPath}+'/'+${productCate.slug}}"
                                     th:classappend="${productCategory != null && productCate.slug == productCategory.slug ? 'active' : ''}"
                                     class="cutom-parent"
                                     th:text="${productCate.name}+' ('+${productCate.products.size()}+')'"></a></span>
                            </li>
                        </ul>
                    </div>
                </th:block>
                <th:block th:if="${brandPage}">
                    <h3 class="subtitle"><a th:href="@{/brand}">Brands</a></h3>
                    <div class="box-category">
                        <ul id="brand_accordion">
                            <li class="cutom-parent-li" th:each="brandCate : ${brandList}">
                            <span><a th:href="@{${brandPath}+'/'+${brandCate.slug}}"
                                     th:classappend="${brand != null && brandCate.slug == brand.slug ? 'active' : ''}"
                                     class="cutom-parent"
                                     th:text="${brandCate.name}+' ('+${brandCate.products.size()}+')'"></a></span>
                            </li>
                        </ul>
                    </div>
                </th:block>
                <th:block th:include="/templates/aside::aside"></th:block>
            </aside>
            <div id="content" class="col-sm-9">
                <h1 sec:authorize="hasRole('USER') || isAnonymous()" class="title" th:text="${title}">All product</h1>
                <h1 th:if="${productCategory == null && brand == null}" sec:authorize="hasAnyRole('ADMIN', 'SUPER_ADMIN')" class="title" th:text="${title}">All product</h1>
                <h1 th:if="${productCategory != null && !brandPage}" sec:authorize="hasAnyRole('ADMIN', 'SUPER_ADMIN')" class="title">[[${title}]] <a th:href="@{'/admin/product-category/update/'+${productCategory.id}}"><i class="fa fa-pencil text-lg"></i></a></h1>
                <h1 th:if="${brand != null && brandPage}" sec:authorize="hasAnyRole('ADMIN', 'SUPER_ADMIN')" class="title">[[${title}]] <a th:href="@{'/admin/product-category/update/'+${brand.id}}"><i class="fa fa-pencil text-lg"></i></a></h1>
                <blockquote th:if="${productCategory != null && !brandPage}" th:text="${productCategory.description}"></blockquote>
                <div th:if="${brand != null && brandPage}" class="row m-b-md">
                    <div class="col-md-4">
                            <img th:src="@{${brand.imagePath}}" class="img-thumbnail"/>
                    </div>
                    <blockquote class="col-md-8" th:text="${brand.description}"></blockquote>
                </div>

                <h3 class="subtitle">List</h3>
                <div class="category-list-thumb owl-carousel latest_brands_carousel">
                    <div th:if="${!brandPage}" th:each="brandCate : ${brandList}" class="owl-item">
                        <div class="m-a-xs">
                            <a th:alt="${brandCate.name}" th:classappend="${brand != null && brand.id == brandCate.id} ? 'active'" class="dark btn btn-block p-a-sm text-2x text-u-c text-white text-ellipsis" th:href="@{${brandPath+'/'+brandCate.slug}}" th:text="${brandCate.name}"></a>
                        </div>
                    </div>

                    <div th:if="${brandPage}" th:each="productCate : ${productCategoryList}" class="owl-item">
                        <div class="m-a-xs">
                            <a th:alt="${productCate.name}" th:classappend="${productCategory != null && productCategory.id == productCate.id} ? 'active'" class="dark btn btn-block p-a-sm text-2x text-u-c text-white text-ellipsis" th:href="@{${productPath+'/'+productCate.slug}}" th:text="${productCate.name}"></a>
                        </div>
                    </div>
                </div>
                <div class="product-filter">
                    <form th:object="${filterForm}" th:action="@{${relativePath}}" method="GET">
                        <div class="row">
                        <div class="col-md-2 text-center p-a-xs">
                            <div class="btn-group">
                                <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip"
                                        title="List"><i class="fa fa-th-list"></i></button>
                                <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip"
                                        title="Grid"><i class="fa fa-th"></i></button>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 text-center p-a-xs">
                            <select class="form-control"
                                    th:field="*{orderBy}">
                                <option value="">Sort by ...</option>
                                <option value="name">Name</option>
                                <option value="price">Price</option>
                                <option value="ratingStatistics.totalScore">Rating</option>
                                <option value="productViewsSet.count">View in day</option>
                                <option value="productViewsStatistic.week">View on week</option>
                                <option value="productViewsStatistic.month">View on month</option>
                                <option value="productViewsStatistic.year">View on year</option>
                                <option value="productViewsStatistic.total">View on total</option>
                                <option value="releaseDate">Model newest</option>
                            </select>
                        </div>
                        <div class="col-sm-6 col-md-2 text-center p-a-xs">
                            <select class="form-control" th:field="*{order}">
                                <option value="asc">Ascending</option>
                                <option value="desc">Decrease</option>
                            </select>
                        </div>
                        <div class="col-sm-6 col-md-2 text-center p-a-xs">
                            <label class="control-label" for="input-limit">Show:</label>
                        </div>
                        <div class="col-sm-6 col-md-2 text-center p-a-xs">
                            <select id="input-limit" class="form-control" th:field="*{size}">
                                <option th:value="10">10 rows</option>
                                <option th:value="20"
                                        th:if="${result.totalPages * filterForm.size} > 10">20 rows
                                </option>
                                <option th:value="50"
                                        th:if="${result.totalPages * filterForm.size} > 50">50 rows
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-12 col-md-1 text-center p-a-xs">
                            <button class="btn btn-default btn-sm" type="submit">Go!</button>
                        </div>
                    </div>
                    </form>
                </div>
                <br>
                <div class="row products-category">
                    <th:block th:each="product : ${result.list}">
                        <div th:replace="/templates/item::productGridList (${product})"></div>
                    </th:block>
                </div>
                <div class="row">
                    <div class="col-sm-6 text-left">
                        <filter:pagination

                                           filter:uri="@{${relativePath}}"></filter:pagination>
                    </div>
                    <div class="col-sm-6 text-right"
                         th:with="productFrom=${result.getCurrentPage()*filterForm.size +1 - filterForm.size},productTo=${result.getCurrentPage()*filterForm.size}"
                         th:text="${'Showing '+ productFrom +' to '+ productTo +' ('+result.totalPages+' pages)'}">
                        Showing 1 to 12 of 15 (2 Pages)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>