<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="templates/frontend">

<th:object layout:fragment="head">

</th:object>
<!--/*@thymesVar id="productCategoryList" type="java.util.List<onlinemarket.model.ProductCategory>"*/-->
<!--/*@thymesVar id="brandList" type="java.util.List<onlinemarket.model.Brand>"*/-->
<!--/*@thymesVar id="breadcrumbs" type="java.lang.String[]"*/-->
<!--/*@thymesVar id="relativePath" type="java.lang.String"*/-->
<!--/*@thymesVar id="product" type="onlinemarket.model.Product"*/-->
<head>
</head>
<body th:inline="text">

<div id="container" layout:fragment="container">
    <div class="container">
        <!-- Breadcrumb Start-->
        <ul class="breadcrumb">
            <li class="breadcrumb-item" th:each="breadcrumb : ${breadcrumbs}"><a th:href="@{${breadcrumb[0]}}"
                                                                                 th:text="${breadcrumb[1]}"></a></li>
        </ul>
        <!-- Breadcrumb End-->
        <div class="row">
            <!--Middle Part Start-->
            <div id="content" class="col-sm-9">
                <div itemscope="" itemtype="http://schema.org/Product">
                    <h1 class="title" itemprop="name" th:text="${product.name}"></h1>
                    <div class="row product-info">
                        <div class="col-sm-6">
                            <div class="image">
                                <div style="height:350px;width:350px;" class="zoomWrapper">
                                    <img
                                            class="img-responsive" itemprop="image" id="zoom_01"
                                            th:src="${product.featureImage}"
                                            data-zoom-image=""
                                            style="position: absolute;"></div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <ul class="list-unstyled description">
                                <li><b>Brand:</b> <a th:href="@{'/brand/'+${product.brand.slug}}"><span itemprop="brand"
                                                                                                        th:text="${product.brand.name}"></span></a>
                                </li>
                                <li><b>Size:</b> <span itemprop="mpn" th:text="${product.size}"></span></li>
                                <li><b>Weight:</b><a th:text="${product.weight + 'g'}"></a></li>
                                <li th:switch="${product.state}"><b>Availability:</b>
                                    <span class="instock" th:case=0>In stock</span>
                                    <span class="nostock" th:case=1>Out of stock</span>
                                    <span class="nostock" th:case=2>Stop selling</span>
                                </li>
                            </ul>
                            <ul class="price-box">
                                <li class="price" itemprop="offers" itemscope="" itemtype="http://schema.org/Offer">
                                    <span class="price-old" th:text="${product.price}"></span> <span
                                        th:text="${product.price}"><span
                                        itemprop="availability" content="In Stock"></span></span></li>
                                <li></li>
                                <li>Ex Tax: $950.00</li>
                            </ul>
                            <div id="product">
                                <h3 class="subtitle">Available Options</h3>

                                <div class="cart">
                                    <div>
                                        <div class="qty">
                                            <label class="control-label" for="input-quantity">Qty</label>
                                            <input name="quantity" value="1" size="2" id="input-quantity"
                                                   class="form-control" type="text">
                                            <a class="qtyBtn plus" href="javascript:void(0);">+</a><br>
                                            <a class="qtyBtn mines" href="javascript:void(0);">-</a>
                                            <div class="clear"></div>
                                        </div>
                                        <button type="button" id="button-cart" class="btn btn-primary btn-lg">Add to
                                            Cart
                                        </button>
                                    </div>
                                    <div>
                                        <button type="button" class="wishlist" onclick=""><i
                                                class="fa fa-heart"></i> Add to Wish List
                                        </button>
                                        <br>
                                        <button type="button" class="wishlist" onclick=""><i
                                                class="fa fa-exchange"></i> Compare this Product
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="rating" itemprop="aggregateRating" itemscope=""
                                 itemtype="http://schema.org/AggregateRating">
                                <meta itemprop="ratingValue" content="0">
                                <p><span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                                        class="fa fa-star-o fa-stack-1x"></i></span> <span class="fa fa-stack"><i
                                        class="fa fa-star fa-stack-1x"></i><i
                                        class="fa fa-star-o fa-stack-1x"></i></span>
                                    <span class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                                            class="fa fa-star-o fa-stack-1x"></i></span> <span
                                            class="fa fa-stack"><i class="fa fa-star fa-stack-1x"></i><i
                                            class="fa fa-star-o fa-stack-1x"></i></span> <span
                                            class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i></span> <a
                                            onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;"
                                            href=""><span itemprop="reviewCount">1 reviews</span></a> / <a
                                            onclick="$('a[href=\'#tab-review\']').trigger('click'); return false;"
                                            href="">Write a review</a></p>
                            </div>
                            <hr>
                            <!-- AddThis Button BEGIN -->
                            <div class="addthis_toolbox addthis_default_style"><a
                                    class="addthis_button_facebook_like" fb:like:layout="button_count"></a> <a
                                    class="addthis_button_tweet"></a> <a class="addthis_button_google_plusone"
                                                                         g:plusone:size="medium"></a> <a
                                    class="addthis_button_pinterest_pinit" pi:pinit:layout="horizontal"
                                    pi:pinit:url="http://www.addthis.com/features/pinterest"
                                    pi:pinit:media="http://www.addthis.com/cms-content/images/features/pinterest-lg.png"></a>
                                <a class="addthis_counter addthis_pill_style"></a></div>
                            <script id="twitter-wjs" src="https://platform.twitter.com/widgets.js"></script>
                            <script id="facebook-jssdk"
                                    src="//connect.facebook.net/en_US/sdk.js#xfbml=1&amp;version=v2.4"></script>
                            <script type="text/javascript"
                                    src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-514863386b357649"></script>
                            <!-- AddThis Button END -->
                        </div>
                    </div>
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#tab-description" data-toggle="tab">Description</a></li>
                        <li><a href="#tab-specification" data-toggle="tab">Specification</a></li>
                        <li><a href="#tab-review" data-toggle="tab" th:text="'Review(' + ${product.ratings.size()} + ')'"></a></li>
                    </ul>
                    <div class="tab-content">

                        <div itemprop="description" id="tab-description" class="tab-pane active">
                            <div  th:utext="${product.description}">
                            </div>
                        </div>
                        <div id="tab-specification" class="tab-pane">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <td colspan="2"><strong>Memory</strong></td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>test 1</td>
                                    <td>8gb</td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <td colspan="2"><strong>Processor</strong></td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>No. of Cores</td>
                                    <td>1</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div id="tab-review" class="tab-pane">
                            <div class="alert alert-success m-x-lg" th:if="${success} != null">
                                <strong>Congratulation!</strong> Process completed.
                            </div>
                            <div class="alert alert-danger m-x-lg" th:if="${error} != null">
                                <strong>Obbs!</strong> [[${error}]].
                            </div>
                            <form class="form-horizontal" th:object="${rating}" th:action="@{${pathAction}}" method="POST">
                                <div id="review">
                                    <div th:each="rating : ${result.list}">
                                        <table class="table table-striped table-bordered">
                                            <tbody>
                                            <tr>
                                                <td style="width: 50%;"><strong><span th:text="${rating.user.firstName + ' ' + rating.user.lastName}"></span></strong></td>
                                                <td class="text-right"><span th:text="${rating.createRateDate}"></span></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2"><p th:text="${rating.content}"></p>
                                                    <div class="rating">
                                                        <span class="fa fa-stack" th:each="ada : ${#numbers.sequence(1, rating.score)}">
                                                            <i class="fa fa-star fa-stack-2x"></i>
                                                            <i class="fa fa-star-o fa-stack-2x"></i>
                                                        </span>
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="text-right"></div>
                                </div>
                                <h2>Write a review</h2>
                                <div class="form-group required">
                                    <div class="col-sm-12">
                                        <label for="input-review" class="control-label">Your Review</label>
                                        <textarea class="form-control" id="input-review" rows="5"
                                                  name="text" th:field="*{content}" required data-parsley-length="[3, 500]"></textarea>
                                        <div class="help-block"><span class="text-danger">Note:</span> HTML is not
                                            translated!
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group required">
                                    <div class="col-sm-12">
                                        <label class="control-label">Rating</label>
                                        &nbsp;&nbsp;&nbsp; Bad&nbsp;
                                        <input value="1" name="rating" type="radio"  th:field="*{score}">
                                        &nbsp;
                                        <input value="2" name="rating" type="radio" th:field="*{score}">
                                        &nbsp;
                                        <input value="3" name="rating" type="radio" th:field="*{score}">
                                        &nbsp;
                                        <input value="4" name="rating" type="radio" th:field="*{score}">
                                        &nbsp;
                                        <input value="5" name="rating" type="radio" th:field="*{score}">
                                        &nbsp;Good
                                    </div>
                                </div>
                                <div class="buttons">
                                    <div class="pull-right">
                                        <button class="btn btn-primary" id="button-review" type="submit">
                                            Continue
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <h3 class="subtitle">Related Products</h3>
                    <div class="owl-carousel related_pro">
                        <div class="product-thumb" th:each="relatedProduct : ${relatedProducts}">
                            <div class="image"><a href="product.html"><img th:src="@{${relatedProduct.featureImage}}" alt="Aspire Ultrabook Laptop" title="Aspire Ultrabook Laptop" class="img-responsive" /></a></div>
                            <div class="caption">
                                <h4><a href="product.html" th:text="${relatedProduct.name}"></a></h4>
                                <p class="price"> <span class="price-new" th:text="${relatedProduct.name}">>$230.00</span> <span class="price-old">$241.99</span> <span class="saving">-5%</span> </p>
                                <div class="rating"> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span> </div>
                            </div>
                            <div class="button-group">
                                <button class="btn-primary" type="button" onClick=""><span>Add to Cart</span></button>
                                <div class="add-to-links">
                                    <button type="button" data-toggle="tooltip" title="Add to wishlist" onClick=""><i class="fa fa-heart"></i></button>
                                    <button type="button" data-toggle="tooltip" title="Add to compare" onClick=""><i class="fa fa-exchange"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Middle Part End -->
            <!--Right Part Start -->
            <aside id="column-right" class="col-sm-3 hidden-xs">
                <h3 class="subtitle"><a th:href="@{${relativePath}}">Categories</a></h3>
                <div class="box-category">
                    <ul id="cat_accordion">
                        <li class="cutom-parent-li" th:each="productCate : ${productCategoryList}">
                            <a th:href="@{'/product-category/'+${productCate.slug}}"
                               th:classappend="${productCategory != null && productCate.slug == productCategory.slug ? 'active' : ''}"
                               class="cutom-parent"
                               th:text="${productCate.name}+' ('+${productCate.products.size()}+')'"></a></span>
                        </li>
                    </ul>
                </div>
                <h3>Best seller</h3>
                <div class="side-item">
                    <div class="product-thumb clearfix" th:each="productBest : ${productBestSellerList}">
                        <div class="image"><a th:href="@{'/product/'+${productBest.slug}}"><img
                                th:src="@{${productBest.featureImage}}" class="img-responsive"/></a></div>
                        <div class="caption">
                            <h4><a th:href="@{'/product/'+${productBest.slug}}" th:alt="${productBest.name}" th:text="${productBest.name}"></a></h4>
                            <p class="price"><span class="price-new" th:text="${productBest.newPriceStr}"></span>
                                <span class="price-old" th:if="${productBest.sale != ''}"
                                      th:text="${productBest.priceStr}"></span> <span th:if="${productBest.sale != ''}"
                                                                                      class="saving"
                                                                                      th:text="${productBest.sale}"></span>
                            <div class="rating">
                                            <span class="fa fa-stack" th:each="number : ${#numbers.sequence(1, 5)}">
                                                <i th:if="${productBest.ratingStatistic != null && productBest.ratingStatistic.averageScore > number}" class="fa fa-star fa-stack-2x"></i>
                                                <i class="fa fa-star-o fa-stack-2x"></i>
                                            </span>
                            </div>
                            </p>
                        </div>
                    </div>
                </div>
                <h3>Best viewing</h3>
                <div class="side-item">
                    <div class="product-thumb clearfix" th:each="productBest : ${productBestViewing}">
                        <div class="image"><a th:href="@{'/product/'+${productBest.slug}}"><img
                                th:src="@{${productBest.featureImage}}" class="img-responsive"/></a></div>
                        <div class="caption">
                            <h4><a th:href="@{'/product/'+${productBest.slug}}" th:alt="${productBest.name}" th:text="${productBest.name}"></a></h4>
                            <p class="price"><span class="price-new" th:text="${productBest.newPriceStr}"></span>
                                <span class="price-old" th:if="${productBest.sale != ''}"
                                      th:text="${productBest.priceStr}"></span> <span th:if="${productBest.sale != ''}"
                                                                                      class="saving"
                                                                                      th:text="${productBest.sale}"></span>
                            <div class="rating">
                                            <span class="fa fa-stack" th:each="number : ${#numbers.sequence(1, 5)}">
                                                <i th:if="${productBest.ratingStatistic != null && productBest.ratingStatistic.averageScore > number}" class="fa fa-star fa-stack-2x"></i>
                                                <i class="fa fa-star-o fa-stack-2x"></i>
                                            </span>
                            </div>
                            </p>
                        </div>
                    </div>
                </div>
                <h3>Best Rating</h3>
                <div class="side-item">
                    <div class="product-thumb clearfix" th:each="productBest : ${productBestRating}">
                        <div class="image"><a th:href="@{'/product/'+${productBest.slug}}"><img
                                th:src="@{${productBest.featureImage}}" class="img-responsive"/></a></div>
                        <div class="caption">
                            <h4><a th:href="@{'/product/'+${productBest.slug}}" th:alt="${productBest.name}" th:text="${productBest.name}"></a></h4>
                            <p class="price"><span class="price-new" th:text="${productBest.newPriceStr}"></span>
                                <span class="price-old" th:if="${productBest.sale != ''}"
                                      th:text="${productBest.priceStr}"></span> <span th:if="${productBest.sale != ''}"
                                                                                      class="saving"
                                                                                      th:text="${productBest.sale}"></span>
                            <div class="rating">
                                            <span class="fa fa-stack" th:each="number : ${#numbers.sequence(1, 5)}">
                                                <i th:if="${productBest.ratingStatistic != null && productBest.ratingStatistic.averageScore > number}" class="fa fa-star fa-stack-2x"></i>
                                                <i class="fa fa-star-o fa-stack-2x"></i>
                                            </span>
                            </div>
                            </p>
                        </div>
                    </div>
                </div>
            </aside>
            <!--Right Part End -->
        </div>
    </div>
</div>
<div layout:fragment="customScript" th:remove="tag">


</div>

</body>
</html>