<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:filter="http://thymeleafexamples"
      layout:decorate="templates/frontend">
<!--/*@thymesVar id="productCategoryList" type="java.util.List<onlinemarket.model.ProductCategory>"*/-->
<!--/*@thymesVar id="productBestSellerList" type="java.util.List<onlinemarket.model.Product>"*/-->
<!--/*@thymesVar id="productBestViewing" type="java.util.List<onlinemarket.model.Product>"*/-->
<!--/*@thymesVar id="productBestRating" type="java.util.List<onlinemarket.model.Product>"*/-->
<!--/*@thymesVar id="brandList" type="java.util.List<onlinemarket.model.Brand>"*/-->
<!--/*@thymesVar id="productCategory" type="onlinemarket.model.ProductCategory"*/-->
<!--/*@thymesVar id="breadcrumbs" type="java.lang.String[]"*/-->
<!--/*@thymesVar id="relativePath" type="java.lang.String"*/-->
<!--/*@thymesVar id="productPath" type="java.lang.String"*/-->
<!--/*@thymesVar id="brandPath" type="java.lang.String"*/-->
<!--/*@thymesVar id="subTitle" type="java.lang.String"*/-->
<!--/*@thymesVar id="result" type="onlinemarket.result.ResultObject<onlinemarket.model.Product>"*/-->
<!--/*@thymesVar id="filterForm" type="onlinemarket.form.filter.FilterForm"*/-->
<head>
</head>
<body th:inline="text">

<div id="container" layout:fragment="container">
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item" th:each="breadcrumb : ${breadcrumbs}"><a th:href="@{${breadcrumb[0]}}"
                                                                                 th:text="${breadcrumb[1]}"></a></li>
        </ul>
        <div class="row">
            <aside id="column-left" class="col-sm-3 hidden-xs">
                <h3 class="subtitle"><a th:href="@{${relativePath}}">Categories</a></h3>
                <div class="box-category">
                    <ul id="cat_accordion">
                        <li class="cutom-parent-li" th:each="productCate : ${productCategoryList}">
                            <a th:href="@{${productPath}+'/'+${productCate.slug}}"
                               th:classappend="${productCategory != null && productCate.slug == productCategory.slug ? 'active' : ''}"
                               class="cutom-parent"
                               th:text="${productCate.name}+' ('+${productCate.products.size()}+')'"></a></span>
                        </li>
                    </ul>
                </div>
                <th:block th:include="/templates/aside::aside"></th:block>
            </aside>
            <div id="content" class="col-sm-9">
                <h1 class="title" th:text="${title}">All product</h1>
                <h3 class="subtitle" th:text="${subTitle}"></h3>
                <div class="category-list-thumb owl-carousel latest_brands_carousel">
                    <div th:each="brand : ${brandList}" class="owl-item">
                        <div class="box-image">
                            <a  th:href="@{${brandPath+'/'+brand.slug}}"><img
                                    th:src="@{${brand.imagePath}}"
                                    th:alt="${brand.name}+' ('+${brand.products.size()}+')'" /></a>
                        </div>
                        <a th:href="@{${brandPath+'/'+brand.slug}}"
                           th:text="${brand.name}+' ('+${brand.products.size()}+')'"></a>
                    </div>
                </div>
                <div class="product-filter">
                    <form th:object="${filterForm}" th:action="@{${relativePath}}" method="POST">
                        <div class="row">
                            <div class="col-md-3 col-sm-4">
                                <div class="btn-group">
                                    <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip"
                                            title="List"><i class="fa fa-th-list"></i></button>
                                    <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip"
                                            title="Grid"><i class="fa fa-th"></i></button>
                                </div>
                                </div>
                            <div class="col-sm-2 text-right">
                                <label class="control-label" for="input-sort">Sort By:</label>
                            </div>
                            <div class="col-md-3 col-sm-2 text-right">
                                <select id="input-sort" class="form-control col-sm-3"
                                        th:field="*{groupSearch[orderBy]}">
                                    <option value="">Default</option>
                                    <option value="name.asc">Name (A - Z)</option>
                                    <option value="name.desc">Name (Z - A)</option>
                                    <option value="price.asc">Price (Low &gt; High)</option>
                                    <option value="price.desc">Price (High &gt; Low)</option>
                                    <option value="ratingStatistics.totalScore.desc">Rating (Highest)</option>
                                    <option value="ratingStatistics.totalScore.asc">Rating (Lowest)</option>
                                    <option value="productViewsStatistic.day.asc">View in day (Lowest)</option>
                                    <option value="productViewsStatistic.day.desc">View on day (Highest)</option>
                                    <option value="productViewsStatistic.week.asc">View on week (Lowest)</option>
                                    <option value="productViewsStatistic.week.desc">View on week (Highest)</option>
                                    <option value="productViewsStatistic.month.asc">View on month (Lowest)</option>
                                    <option value="productViewsStatistic.month.desc">View on month (Highest)</option>
                                    <option value="productViewsStatistic.year.asc">View on year (Lowest)</option>
                                    <option value="productViewsStatistic.year.desc">View on year (Highest)</option>
                                    <option value="productViewsStatistic.total.asc">View on total (Lowest)</option>
                                    <option value="productViewsStatistic.total.desc">View on total (Highest)</option>
                                    <option value="releaseDate.asc">Model oldest</option>
                                    <option value="releaseDate.desc">Model newest</option>
                                </select>
                            </div>
                            <div class="col-sm-1 text-right">
                                <label class="control-label" for="input-limit">Show:</label>
                            </div>
                            <div class="col-sm-2 text-right">
                                <select id="input-limit" class="form-control" th:field="*{size}">
                                    <option th:value="10">10 rows</option>
                                    <option th:value="20"
                                            th:if="${result.totalPages * filterForm.size} > 10">20 rows
                                    </option>
                                    <option th:value="50"
                                            th:if="${result.totalPages * filterForm.size} > 50">50 rows
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-1">
                                <button class="btn btn-default btn-sm" type="submit">Go!</button>
                            </div>
                        </div>
                    </form>
                </div>
                <br>
                <div class="row products-category">
                    <th:block th:each="product : ${result.list}">
                        <div th:replace="/templates/item::productGridList (${product})"></div>
                    </th:block>
                </div>
                <div class="row">
                    <div class="col-sm-6 text-left">
                        <filter:pagination filter:currentPage="${page}"
                                           filter:totalPages="${result.totalPages}"
                                           filter:uri="@{${relativePath}}"></filter:pagination>
                    </div>
                    <div class="col-sm-6 text-right"
                         th:with="productFrom=${result.getCurrentPage()*filterForm.size +1 - filterForm.size},productTo=${result.getCurrentPage()*filterForm.size}"
                         th:text="${'Showing '+ productFrom +' to '+ productTo +' ('+result.totalPages+' pages)'}">
                        Showing 1 to 12 of 15 (2 Pages)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>