<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="templates/frontend">

<th:object layout:fragment="head">
<link rel="stylesheet" type="text/css"
	th:href="@{/assets/frontend/js/bootstrap/css/bootstrap-datetimepicker.min.css}" />
</th:object>

<head>
</head>
<body th:inline="text">

	<div id="container" layout:fragment="container">
		<div class="container">
			<!-- Breadcrumb Start-->
			<ul class="breadcrumb">
				<li><a href="index.html"><i class="fa fa-home"></i></a></li>
				<li><a href="login.html">Account</a></li>
				<li><a href="register.html">Register</a></li>
			</ul>
			<!-- Breadcrumb End-->
			<div class="row">
				<!--Middle Part Start-->
				<div class="col-sm-9" id="content">
					<h1 class="title">Register Account</h1>
					<p>
						If you already have an account with us, please login at the Login Page. <a th:href="@{/login}">Login Page</a>.
					</p>
					<div class="alert alert-warning" role="alert"
						th:if="${nest.agree} != null and ${nest.agree} != '1'">Please agree to our policies before continue</div>
					<form class="form-horizontal" th:object="${nest}" method="POST" th:action="@{/register}">
						<fieldset id="account">
							<legend>Your Personal Details</legend>
							<div class="form-group required"
								th:classappend="${#fields.hasErrors('*{user.firstName}')} ? 'has-error'">
								<label for="input-firstname" class="col-sm-2 control-label">First Name</label>
								<div class="col-sm-10">
									<input type="text" class="form-control"
										placeholder="First Name" th:field="*{user.firstName}">
									<span class="help-block"
										th:if="${#fields.hasErrors('*{user.firstName}')}"
										th:errors="*{user.firstName}"></span>
								</div>
							</div>
							<div class="form-group required"
								th:classappend="${#fields.hasErrors('*{user.lastName}')} ? 'has-error'">
								<label for="input-lastname" class="col-sm-2 control-label">Last Name</label>
								<div class="col-sm-10">
									<input type="text" class="form-control"
										placeholder="Last Name" th:field="*{user.lastName}">
									<span class="help-block"
										th:if="${#fields.hasErrors('*{user.lastName}')}"
										th:errors="*{user.lastName}"></span>
								</div>
							</div>
							<div class="form-group required"
								th:classappend="${#fields.hasErrors('*{user.email}')} ? 'has-error'">
								<label for="input-email" class="col-sm-2 control-label">E-Mail</label>
								<div class="col-sm-10">
									<input type="email" class="form-control" placeholder="E-Mail"
										th:field="*{user.email}"> <span class="help-block"
										th:if="${#fields.hasErrors('*{user.email}')}"
										th:errors="*{user.email}"></span>
								</div>
							</div>
							<div class="form-group required"
								th:classappend="${#fields.hasErrors('*{address.phoneNumber}')} ? 'has-error'">
								<label for="input-telephone" class="col-sm-2 control-label">Telephone</label>
								<div class="col-sm-10">
									<input type="tel" class="form-control"
										placeholder="Telephone" th:field="*{address.phoneNumber}">
									<span class="help-block"
										th:if="${#fields.hasErrors('*{address.phoneNumber}')}"
										th:errors="*{address.phoneNumber}"></span>
								</div>
							</div>
							<div class="form-group required"
								th:classappend="${#fields.hasErrors('*{user.birthday}')} ? 'has-error'">
								<label for="input-birthday" class="col-sm-2 control-label">Birthday</label>
								<div class="col-sm-10">
									<div class="input-group date" id="birtdayPicker">
										<input type='text' class="form-control"
											th:field="*{user.birthday}" /> <span
											class="input-group-addon"> <span
											class="glyphicon glyphicon-calendar"></span>
										</span>
									</div>
									<span class="help-block"
										th:if="${#fields.hasErrors('*{user.birthday}')}"
										th:errors="*{user.birthday}"></span>
								</div>
							</div>
							<div class="form-group required"
								th:classappend="${#fields.hasErrors('*{user.gender}')} ? 'has-error'">
								<label for="input-gender" class="col-sm-2 control-label">Gender</label>
								<div class="col-sm-10">
									<div class="radio"
										th:each="gender : ${T(onlinemarket.model.Gender).values()}">
										<label> <input type="radio" th:field="*{user.gender}"
											th:value="${gender.code}" /> [[${gender.text}]]
										</label>
									</div>
									<span class="help-block"
										th:if="${#fields.hasErrors('*{user.gender}')}"
										th:errors="*{user.gender}"></span>
								</div>
							</div>
						</fieldset>
						<fieldset id="address">
							<legend>Your Address</legend>
							<div class="form-group required"
								th:classappend="${#fields.hasErrors('*{address.address}')} ? 'has-error'">
								<label for="input-address" class="col-sm-2 control-label">Address</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" placeholder="Address"
										th:field="*{address.address}"> <span
										class="help-block"
										th:if="${#fields.hasErrors('*{address.address}')}"
										th:errors="*{address.address}"></span>
								</div>
							</div>
							<div class="form-group required"
								th:classappend="${#fields.hasErrors('*{address.city}')} ? 'has-error'">
								<label for="input-city" class="col-sm-2 control-label">City</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" placeholder="City"
										th:field="*{address.city}"> <span class="help-block"
										th:if="${#fields.hasErrors('*{address.city}')}"
										th:errors="*{address.city}"></span>
								</div>
							</div>
							<div class="form-group required"
								th:classappend="${#fields.hasErrors('*{address.province}')} ? 'has-error'">
								<label for="input-country" class="col-sm-2 control-label">Province</label>
								<div class="col-sm-10">
									<select class="form-control" th:name="*{address.province}">
										<option th:value="null"> --- Please choise --- </option>
										<option th:each="province : ${provinceList}"
											th:value="${province.id}" th:text="${province.name}"
											th:selected="(${province.id} == *{address.province.id})" > --- Please choise --- </option>
									</select> <span class="help-block"
										th:if="${#fields.hasErrors('*{address.province}')}"
										th:errors="*{address.province}"></span>
								</div>
							</div>
						</fieldset>
						<fieldset>
							<legend>Your Password</legend>
							<div class="form-group required"
								th:classappend="${#fields.hasErrors('*{user.password}')} ? 'has-error'">
								<label for="input-password" class="col-sm-2 control-label">Password</label>
								<div class="col-sm-10">
									<input type="password" class="form-control"
										placeholder="Password" value="" th:field="*{user.password}">
									<span class="help-block"
										th:if="${#fields.hasErrors('*{user.password}')}"
										th:errors="*{user.password}"></span>
								</div>
							</div>
							<div class="form-group required"
								th:classappend="${#fields.hasErrors('*{confirmPassword}')} ? 'has-error'">
								<label for="input-confirm" class="col-sm-2 control-label">Password Confirm</label>
								<div class="col-sm-10">
									<input type="password" class="form-control"
										placeholder="Password Confirm"
										th:field="*{confirmPassword}"> <span
										class="help-block"
										th:if="${#fields.hasErrors('*{confirmPassword}')}"
										th:errors="*{confirmPassword}"></span>
								</div>
							</div>
						</fieldset>
						<div class="buttons">
							<div class="pull-right">
								<input type="checkbox" th:field="*{agree}" th:value="1"> &nbsp; I have read and agree to the <a class="agree" th:href="@{/privacy}"><b>Privacy Policy</b></a> <input type="submit"
									class="btn btn-primary" value="Continue">
							</div>
						</div>
					</form>
				</div>
				<!--Middle Part End -->
				<!--Right Part Start -->
				<aside id="column-right" class="col-sm-3 hidden-xs">
					<h3 class="subtitle">Account</h3>
					<div class="list-group">
						<ul class="list-item">
							<li><a href="login.html">Login</a></li>
							<li><a href="register.html">Register</a></li>
							<li><a href="#">Forgotten Password</a></li>
							<li><a href="#">My Account</a></li>
							<li><a href="#">Address Books</a></li>
							<li><a href="wishlist.html">Wish List</a></li>
							<li><a href="#">Order History</a></li>
							<li><a href="#">Downloads</a></li>
							<li><a href="#">Reward Points</a></li>
							<li><a href="#">Returns</a></li>
							<li><a href="#">Transactions</a></li>
							<li><a href="#">Newsletter</a></li>
							<li><a href="#">Recurring payments</a></li>
						</ul>
					</div>
				</aside>
				<!--Right Part End -->
			</div>
		</div>
	</div>
	<div layout:fragment="customScript" th:remove="tag">
		<script type="text/javascript"
			th:src="@{/assets/frontend/js/moment.min.js}"></script>
		<script type="text/javascript"
			th:src="@{/assets/frontend/js/bootstrap/js/bootstrap-datetimepicker.min.js}"></script>
		<script type="text/javascript">
			$(function() {
				$('#birtdayPicker').datetimepicker({
					format : "DD/MM/YYYY",
					maxDate: new Date()
				});
			});
		</script>

	</div>

</body>
</html>