<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="templates/frontend">

<head>
</head>
<body th:inline="text">
<th:block layout:fragment="head">
	<link rel="stylesheet" type="text/css" th:href="@{/assets/frontend/js/bootstrap/css/bootstrap-datetimepicker.min.css}" />
</th:block>
	<div id="container" layout:fragment="container">
		<div class="container">
				<!-- Breadcrumb Start-->
				<ul class="breadcrumb">
					<li class="breadcrumb-item" th:each="breadcrumb : ${breadcrumbs}"><a th:href="@{${breadcrumb[0]}}"
																						 th:text="${breadcrumb[1]}"></a></li>
				</ul>
				<!-- Breadcrumb End-->
				<div class="row">
					<!--Middle Part Start-->
				<div class="col-sm-9" id="content">
					<h1 class="title">Register Account</h1>
					<p>
						If you already have an account with us, please login at the <a th:href="@{/login}">Login Page</a> or else you must register an account to continue checkout.
					</p>

                    <!--/*@thymesVar id="user" type="OnlineMarket.model.User"*/-->
					<form class="form-horizontal" th:object="${user}" method="POST" th:action="@{/register}">
						<fieldset id="account">
							<legend>Your Personal Details</legend>
							<div class="form-group required"
								th:classappend="${#fields.hasErrors('firstName')} ? 'has-error'">
								<label class="col-sm-2 control-label">First Name</label>
								<div class="col-sm-10">
									<input type="text" class="form-control"
										placeholder="First Name" th:field="*{firstName}">
									<span class="help-block"
										th:if="${#fields.hasErrors('firstName')}"
										th:errors="*{firstName}"></span>
								</div>
							</div>
							<div class="form-group required"
								th:classappend="${#fields.hasErrors('lastName')} ? 'has-error'">
								<label class="col-sm-2 control-label">Last Name</label>
								<div class="col-sm-10">
									<input type="text" class="form-control"
										placeholder="Last Name" th:field="*{lastName}">
									<span class="help-block"
										th:if="${#fields.hasErrors('lastName')}"
										th:errors="*{lastName}"></span>
								</div>
							</div>
							<div class="form-group required"
								th:classappend="${#fields.hasErrors('email')} ? 'has-error'">
								<label class="col-sm-2 control-label">E-Mail</label>
								<div class="col-sm-10">
									<input type="email" class="form-control" placeholder="E-Mail"
										th:field="*{email}"> <span class="help-block"
										th:if="${#fields.hasErrors('email')}"
										th:errors="*{email}"></span>
								</div>
							</div>
							<div class="form-group required"
								th:classappend="${#fields.hasErrors('birthday')} ? 'has-error'">
								<label class="col-sm-2 control-label">Birthday</label>
								<div class="col-sm-10">
									<div class="input-group date" id="birtdayPicker">
										<input type='text' class="form-control"
											   autocomplete="off"

											th:field="*{birthday}" /> <span
											class="input-group-addon"> <span
											class="glyphicon glyphicon-calendar"></span>
										</span>
									</div>
									<span class="help-block"
										th:if="${#fields.hasErrors('birthday')}"
										th:errors="*{birthday}"></span>
								</div>
							</div>
							<div class="form-group required"
								th:classappend="${#fields.hasErrors('gender')} ? 'has-error'">
								<label class="col-sm-2 control-label">Gender</label>
								<div class="col-sm-10">
									<div class="radio"
										th:each="gender : ${T(OnlineMarket.util.other.Gender).values()}">
										<label> <input type="radio" th:field="*{gender}"
											th:value="${gender.code}" /> [[${gender.text}]]
										</label>
									</div>
									<span class="help-block"
										th:if="${#fields.hasErrors('gender')}"
										th:errors="*{gender}"></span>
								</div>
							</div>
						</fieldset>
						<fieldset id="address">
							<legend>Your Address</legend>
							<div class="form-group required"
								 th:classappend="${#fields.hasErrors('addresses[0].phoneNumber')} ? 'has-error'">
								<label class="col-sm-2 control-label">Telephone</label>
								<div class="col-sm-10">
									<input type="tel" class="form-control"
										   placeholder="Telephone" th:field="*{addresses[0].phoneNumber}">
									<span class="help-block"
										  th:if="${#fields.hasErrors('addresses[0].phoneNumber')}"
										  th:errors="*{addresses[0].phoneNumber}"></span>
								</div>
							</div>
							<div class="form-group required"
								th:classappend="${#fields.hasErrors('addresses[0].address')} ? 'has-error'">
								<label class="col-sm-2 control-label">Address</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" placeholder="Address"
										th:field="*{addresses[0].address}"> <span
										class="help-block"
										th:if="${#fields.hasErrors('addresses[0].address')}"
										th:errors="*{addresses[0].address}"></span>
								</div>
							</div>
							<div class="form-group required"
								th:classappend="${#fields.hasErrors('addresses[0].city')} ? 'has-error'">
								<label class="col-sm-2 control-label">City</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" placeholder="City"
										th:field="*{addresses[0].city}"> <span class="help-block"
										th:if="${#fields.hasErrors('addresses[0].city')}"
										th:errors="*{addresses[0].city}"></span>
								</div>
							</div>
							<div class="form-group required"
								th:classappend="${#fields.hasErrors('addresses[0].province.id')} ? 'has-error'">
								<label class="col-sm-2 control-label">Province</label>
								<div class="col-sm-10">
									<select class="form-control" th:field="*{addresses[0].province.id}">
										<option th:value="null"> --- Please choise --- </option>
										<option th:each="province : ${provinceList}"
											th:value="${province.id}" th:text="${province.name}"> --- Please choise --- </option>
									</select> <span class="help-block"
										th:if="${#fields.hasErrors('addresses[0].province.id')}"
										th:errors="*{addresses[0].province.id}"></span>
								</div>
							</div>
						</fieldset>
						<fieldset>
							<legend>Your Password</legend>
							<div class="form-group required"
								th:classappend="${#fields.hasErrors('password')} ? 'has-error'">
								<label class="col-sm-2 control-label">Password</label>
								<div class="col-sm-10">
									<input type="password" class="form-control"
										placeholder="Password" value="" th:field="*{password}">
									<span class="help-block"
										th:if="${#fields.hasErrors('password')}"
										th:errors="*{password}"></span>
								</div>
							</div>
							<div class="form-group required"
								th:classappend="${#fields.hasErrors('confirmPassword')} ? 'has-error'">
								<label class="col-sm-2 control-label">Password Confirm</label>
								<div class="col-sm-10">
									<input type="password" class="form-control"
										placeholder="Password Confirm"
										th:field="*{confirmPassword}"> <span
										class="help-block"
										th:if="${#fields.hasErrors('confirmPassword')}"
										th:errors="*{confirmPassword}"></span>
								</div>
							</div>
						</fieldset>
						<div
										class="alert alert-danger"
										th:if="${#fields.hasErrors('agree')}"
										th:errors="*{agree}"></div>
						<div class="buttons">
							<div class="pull-right">
								<input type="checkbox" th:field="*{agree}"> &nbsp; I have read and agree to the <a class="agree" th:href="@{/page/privacy}"><b>Privacy Policy</b></a> <input type="submit"
									class="btn btn-primary" value="Continue">
							</div>
						</div>
					</form>
				</div>
				<!--Middle Part End -->
				<!--Right Part Start -->
					<aside id="column-right" class="col-sm-3 hidden-xs">
						<h3 class="subtitle"><a th:href="@{/product-category}">Categories</a></h3>
						<div class="box-category">
							<ul id="cat_accordion">
								<li class="cutom-parent-li" th:each="productCate : ${productCategoryList}">
                          <span><a th:href="@{'/product-category/'+${productCate.slug}}" class="cutom-parent"
								   th:text="${productCate.name}+' ('+${productCate.products.size()}+')'"></a></span>
								</li>
							</ul>
						</div>
						<th:block th:include="/templates/aside::aside"></th:block>
					</aside>
				<!--Right Part End -->
			</div>
		</div>
	</div>
	<div layout:fragment="customScript" th:remove="tag">
		<script type="text/javascript" th:src="@{/assets/frontend/js/moment.min.js}"></script>
		<script type="text/javascript" th:src="@{/assets/frontend/js/bootstrap/js/bootstrap-datetimepicker.min.js}"></script>
		<script type="text/javascript">
			$(function() {
				$('#birtdayPicker').datetimepicker({
					format : "DD/MM/YYYY",
                    allowInputToggle: true
				});
			});
		</script>

	</div>

</body>
</html>