<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:filter="http://thymeleafexamples"
      layout:decorate="templates/frontend">

<th:object layout:fragment="head">

</th:object>
<!--/*@thymesVar id="productCategoryList" type="java.util.List<onlinemarket.model.ProductCategory>"*/-->
<!--/*@thymesVar id="productBestSellerList" type="java.util.List<onlinemarket.model.Product>"*/-->
<!--/*@thymesVar id="productBestViewing" type="java.util.List<onlinemarket.model.Product>"*/-->
<!--/*@thymesVar id="productBestRating" type="java.util.List<onlinemarket.model.Product>"*/-->
<!--/*@thymesVar id="brandList" type="java.util.List<onlinemarket.model.Brand>"*/-->
<!--/*@thymesVar id="productCategory" type="onlinemarket.model.ProductCategory"*/-->
<!--/*@thymesVar id="breadcrumbs" type="java.lang.String[]"*/-->
<!--/*@thymesVar id="relativePath" type="java.lang.String"*/-->
<!--/*@thymesVar id="productPath" type="java.lang.String"*/-->
<!--/*@thymesVar id="brandPath" type="java.lang.String"*/-->
<!--/*@thymesVar id="subTitle" type="java.lang.String"*/-->
<!--/*@thymesVar id="result" type="onlinemarket.result.ResultObject<onlinemarket.model.Product>"*/-->
<!--/*@thymesVar id="filterForm" type="onlinemarket.form.filter.FilterForm"*/-->
<head>
</head>
<body th:inline="text">

<div id="container" layout:fragment="container">
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item" th:each="breadcrumb : ${breadcrumbs}"><a th:href="@{${breadcrumb[0]}}"
                                                                                 th:text="${breadcrumb[1]}"></a></li>
        </ul>
        <div class="row">
            <div id="content" class="col-sm-12">
                <form th:object="${filterForm}" th:action="${relativePath}" method="POST">
                    <h1 class="title">Search</h1>
                    <h3 class="subtitle" th:text="*{search}"></h3>
                    <div class="row">
                        <div class="col-sm-3">
                            <input type="text" class="form-control" placeholder="Keywords" th:field="*{search}">
                        </div>
                        <div class="col-sm-3">
                            <select class="form-control" th:field="*{groupSearch['productCategory.id']}">
                                <option value="">All Categories</option>
                                <option th:each="productCate : ${productCategoryList}" th:value="${productCate.id}" th:text="${productCate.name}"></option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <select class="form-control" th:field="*{groupSearch['brand.id']}">
                                <option value="">All Categories</option>
                                <option th:each="brand : ${brandList}" th:value="${brand.id}" th:text="${brand.name}"></option>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <input type="submit" class="btn btn-primary" id="button-search" value="Search">
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="product-filter">
                        <div class="row">
                            <div class="col-md-3 col-sm-4">
                                <div class="btn-group">
                                    <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip"
                                            title="List"><i class="fa fa-th-list"></i></button>
                                    <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip"
                                            title="Grid"><i class="fa fa-th"></i></button>
                                </div>
                            </div>
                            <div class="col-sm-2 text-right">
                                <label class="control-label" for="input-sort">Sort By:</label>
                            </div>
                            <div class="col-md-3 col-sm-2 text-right">
                                <select id="input-sort" class="form-control col-sm-3"
                                        th:field="*{groupSearch[orderBy]}">
                                    <option value="">Default</option>
                                    <option value="name.asc">Name (A - Z)</option>
                                    <option value="name.desc">Name (Z - A)</option>
                                    <option value="price.asc">Price (Low &gt; High)</option>
                                    <option value="price.desc">Price (High &gt; Low)</option>
                                    <option value="ratingStatistics.totalScore.desc">Rating (Highest)</option>
                                    <option value="ratingStatistics.totalScore.asc">Rating (Lowest)</option>
                                    <option value="releaseDate.asc">Model oldest</option>
                                    <option value="releaseDate.desc">Model newest</option>
                                </select>
                            </div>
                            <div class="col-sm-1 text-right">
                                <label class="control-label" for="input-limit">Show:</label>
                            </div>
                            <div class="col-sm-2 text-right">
                                <select id="input-limit" class="form-control" th:field="*{size}">
                                    <option th:value="10">10 rows</option>
                                    <option th:value="20"
                                            th:if="${result.totalPages * filterForm.size} > 10">20 rows
                                    </option>
                                    <option th:value="50"
                                            th:if="${result.totalPages * filterForm.size} > 50">50 rows
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-1">
                                <button class="btn btn-default btn-sm" type="submit">Go!</button>
                            </div>
                        </div>
                    </div>

                </form>
                <br>
                <div class="row products-category">
                    <div th:each="product : ${result.list}" class="product-layout product-list col-xs-12">
                        <div class="product-thumb">
                            <div class="image"><a th:href="@{'/product/'+${product.slug}}"><img
                                    th:src="@{${product.featureImage}}" class="img-responsive"/></a></div>
                            <div>
                                <div class="caption">
                                    <h4 data-toggle="tooltip" th:title="${product.name}"><a
                                            th:href="@{'/product/'+${product.slug}}" th:text="${product.name}"></a></h4>
                                    <p th:if="${product.events.size() > 0}" class="description">
                                        <b>Sales</b><br>
                                        <th:block th:each="event : ${product.events}">
                                            <a th:if="${event.maxPrice > product.price && event.getMinPrice() < product.price && #dates.createNow().before(event.getDateTo()) && #dates.createNow().after(event.dateFrom)}"
                                               th:href="@{'/event/'+${event.id}}" th:text="${event.name}"></a><br>
                                        </th:block>
                                    </p>
                                    <p class="price"><span class="price-new" th:text="${product.newPriceStr}"></span>
                                        <span class="price-old" th:if="${product.sale != ''}"
                                              th:text="${product.priceStr}"></span> <span th:if="${product.sale != ''}"
                                                                                          class="saving"
                                                                                          th:text="${product.sale}"></span>
                                    </p>
                                    <div class="rating">
                                        <span class="fa fa-stack" th:each="number : ${#numbers.sequence(1, 5)}">
                                            <i th:if="${product.ratingStatistic != null && product.ratingStatistic.averageScore > number}"
                                               class="fa fa-star fa-stack-2x"></i>
                                            <i class="fa fa-star-o fa-stack-2x"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="button-group">
                                    <button class="btn-primary add-cart" th:attr="data-id=${product.id}" type="button" onClick=""><span>Add to Cart</span>
                                    </button>
                                    <div class="add-to-links">
                                        <button type="button" data-toggle="tooltip" th:attr="data-cate-id=${product.productCategory.id},data-id=${product.id}" title="Compare this Product" class="compare-product"><i class="fa fa-exchange"></i>
                                            <span>Compare this Product</span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 text-left">
                        <filter:pagination filter:currentPage="${page}"
                                           filter:totalPages="${result.totalPages}"
                                           filter:uri="@{${relativePath}}"></filter:pagination>
                    </div>
                    <div class="col-sm-6 text-right"
                         th:with="productFrom=${result.getCurrentPage()*filterForm.size +1 - filterForm.size},productTo=${result.getCurrentPage()*filterForm.size}"
                         th:text="${'Showing '+ productFrom +' to '+ productTo +' ('+result.totalPages+' pages)'}">
                        Showing 1 to 12 of 15 (2 Pages)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>