<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:filter="http://thymeleafexamples"
      layout:decorate="templates/frontend">
<!--/*@thymesVar id="productCategoryList" type="java.util.List<OnlineMarket.model.ProductCategory>"*/-->
<!--/*@thymesVar id="productBestSellerList" type="java.util.List<OnlineMarket.model.Product>"*/-->
<!--/*@thymesVar id="productBestViewing" type="java.util.List<OnlineMarket.model.Product>"*/-->
<!--/*@thymesVar id="productBestRating" type="java.util.List<OnlineMarket.model.Product>"*/-->
<!--/*@thymesVar id="brandList" type="java.util.List<OnlineMarket.model.Brand>"*/-->
<!--/*@thymesVar id="productCategory" type="OnlineMarket.model.ProductCategory"*/-->
<!--/*@thymesVar id="breadcrumbs" type="java.lang.String[]"*/-->
<!--/*@thymesVar id="relativePath" type="java.lang.String"*/-->
<!--/*@thymesVar id="productPath" type="java.lang.String"*/-->
<!--/*@thymesVar id="brandPath" type="java.lang.String"*/-->
<!--/*@thymesVar id="subTitle" type="java.lang.String"*/-->
<!--/*@thymesVar id="result" type="OnlineMarket.result.ResultObject<OnlineMarket.model.Product>"*/-->
<!--/*@thymesVar id="filterForm" type="OnlineMarket.form.filter.FilterForm"*/-->
<head>
</head>
<body th:inline="text">

<div id="container" layout:fragment="container">
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item" th:each="breadcrumb : ${breadcrumbs}"><a th:href="@{${breadcrumb[0]}}"
                                                                                 th:text="${breadcrumb[1]}"></a></li>
        </ul>
        <div class="row">
            <div id="content" class="col-sm-12">
                <form th:object="${filterForm}" th:action="@{${relativePath}}" method="GET">
                    <h1 class="title">Search</h1>
                    <h3 class="subtitle" th:text="*{search}"></h3>
                    <div class="row">
                        <div class="col-sm-3 p-a-xs text-center">
                            <input type="text" class="form-control" placeholder="Keywords" th:field="*{search}">
                        </div>
                        <div class="col-sm-3 p-a-xs text-center">
                            <select class="form-control" th:field="*{groupSearch['productCategory.id']}">
                                <option value="">All Categories</option>
                                <option th:each="productCate : ${productCategoryList}" th:value="${productCate.id}" th:text="${productCate.name}"></option>
                            </select>
                        </div>
                        <div class="col-sm-3 p-a-xs text-center">
                            <select class="form-control" th:field="*{groupSearch['brand.id']}">
                                <option value="">All Categories</option>
                                <option th:each="brand : ${brandList}" th:value="${brand.id}" th:text="${brand.name}"></option>
                            </select>
                        </div>
                        <div class="col-sm-3 p-a-xs text-center">
                            <input type="submit" class="btn btn-primary" id="button-search" value="Search">
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="product-filter">
                        <div class="row">
                            <div class="col-md-2 text-center p-a-xs">
                                <div class="btn-group">
                                    <button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip"
                                            title="List"><i class="fa fa-th-list"></i></button>
                                    <button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip"
                                            title="Grid"><i class="fa fa-th"></i></button>
                                </div>
                            </div>
                            <div class="col-sm-6 col-md-3 text-center p-a-xs">
                                <select class="form-control"
                                        th:field="*{orderBy}">
                                    <option value="">Sort by ...</option>
                                    <option value="name">Name</option>
                                    <option value="price">Price</option>
                                    <option value="ratingStatistics.totalScore">Rating</option>
                                    <option value="productViewsSet.count">View in day</option>
                                    <option value="productViewsStatistic.week">View on week</option>
                                    <option value="productViewsStatistic.month">View on month</option>
                                    <option value="productViewsStatistic.year">View on year</option>
                                    <option value="productViewsStatistic.total">View on total</option>
                                    <option value="releaseDate">Model newest</option>
                                </select>
                            </div>
                            <div class="col-sm-6 col-md-2 text-center p-a-xs">
                                <select class="form-control" th:field="*{order}">
                                    <option value="asc">Ascending</option>
                                    <option value="desc">Decrease</option>
                                </select>
                            </div>
                            <div class="col-sm-6 col-md-2 text-center p-a-xs">
                                <label class="control-label" for="input-limit">Show:</label>
                            </div>
                            <div class="col-sm-6 col-md-2 text-center p-a-xs">
                                <select id="input-limit" class="form-control" th:field="*{size}">
                                    <option th:value="10">10 rows</option>
                                    <option th:value="20"
                                            th:if="${result.totalPages * filterForm.size} > 10">20 rows
                                    </option>
                                    <option th:value="50"
                                            th:if="${result.totalPages * filterForm.size} > 50">50 rows
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-12 col-md-1 text-center p-a-xs">
                                <button class="btn btn-default btn-sm" type="submit">Go!</button>
                            </div>
                        </div>
                    </div>

                </form>
                <br>
                <div class="row products-category">
                    <th:block th:each="product : ${result.list}">
                        <div th:replace="/templates/item::productGridList (${product})"></div>
                    </th:block>
                </div>
                <div class="row">
                    <div class="col-sm-6 text-left">
                        <filter:pagination

                                           filter:uri="@{${relativePath}}"></filter:pagination>
                    </div>
                    <div class="col-sm-6 text-right"
                         th:with="productFrom=${result.getCurrentPage()*filterForm.size +1 - filterForm.size},productTo=${result.getCurrentPage()*filterForm.size}"
                         th:text="${'Showing '+ productFrom +' to '+ productTo +' ('+result.totalPages+' pages)'}">
                        Showing 1 to 12 of 15 (2 Pages)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>